<% provide(:title, "Home") %>
<% cache do %>
<header>
    <section class="">
        <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
        <img class="img-fluid" src="https://cdn.sotercares.com/images/soter-background-reduced.jpg">
    </section>
</header>
    <br>
    <!-- Page Content -->
    <div class="container info-box">
      <div class="row" style="height: auto">
        <div class="col-lg-6">
          <h1 style="text-align: center; color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Soter Mission</h1>
          <p style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
            Our mission is to assist your family in locating the best Senior Living Options for your loved ones according to their level of care, location, and budget.
          </p>
        </div>
        <div class="col-lg-6" style="text-align: center">
          <div style="height: 60px"></div>
          <%= link_to "Start your Search", start_journies_path, class: "btn btn-danger btn-block" %>
        </div>
      </div>
    </div>
      
    <br>
    
    <div class="container info-box">
        <div class="row">
          <div class="col-lg-6 mb-6">
            <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/woman-on-balcony.jpg" alt="">
          </div>
          <div class="col-lg-6 mb-6">
            <div class="card h-100">
              <h4 class="card-header" style="color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Making the Right Choice</h4>
              <div class="card-body">
                <p class="card-text" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                  Your loved one’s care needs professional expertise. To develop a network that supports our mission, it took years of personally researching and developing relationships through a process of personal interviews with clients, caregivers, and management. 
                  <br><br>
                    <strong>We conduct surprise visits to ensure that we contract with ONLY the best care homes the industry has to offer!</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>

    <section class="parallax" style='background-image: url("https://cdn.sotercares.com/images/soter-workshop.jpg");'>
      <div style="background-color: rgba(0,0,0,0.5); padding-top: 20px; padding-bottom: 20px;">
        <div class="container">
          <blockquote class="blockquote" style="color: white;">
            <p class="mb-0" style="padding-top: 15px">
              <em>"I only wish there were more than five stars I could award Geri 
              because she is a truly gifted family advocate."</em>
            </p>
            <footer class="blockquote-footer" style="color: white; text-align: right">Susan - <cite title="Source Title">Melbourne, FL</cite></footer>
          </blockquote>
        </div>
      </div>
    </section>
    <br>
    
    <div class="container info-box">
        <div class="row">
          <div class="col-lg-4 mb-4">
            <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/IMG_1606.jpg" alt="">
          </div>
          <div class="col-lg-8 mb-8">
            <div class="card h-100">
              <h4 class="card-header" style="color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Getting it Right the First Time</h4>
              <div class="card-body">
                <p class="card-text" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                  At Soter we understand that caring for relatives can be rewarding but also stressful, time consuming and emotionally exhausting.  It is difficult for families to juggle work, children and other obligations and still find time to properly care for an aging parent of loved one.  Soter takes care of the caregiving so you can focus on just being a son, daughter, or friend again.  We are committed to enriching lives by being nurturing, and compassionate, guiding families through the many senior care options available.
                  <br><br>
                  <strong>OUR PROCESS:</strong>
                  <ol style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                    <li>Your Family Advocate will travel to you and guide you through an initial survey, assessing your personal, financial, and clinical needs.</li>
                    <li>The results of the Care Consultation are then compared with local home healthcare solutions or facilities that have an excellent record and meet our high standards.</li>
                    <li>Your Family Advocate will discuss our findings with you and answer any questions you have.  We then accompany you on personalized tours and advocate for you as we travel the various care options.</li>
                  </ol>
                  <strong>THIS SERVICE IS AVAILABLE TO YOU AT NO COST</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      <br>
    <br>
        <div class="row">
          <div class="col-lg-8 mb-8">
            <div class="card h-100">
              <h4 class="card-header" style="color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Time to Look for Senior Housing</h4>
              <div class="card-body"  style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                <p class="card-text">
                  Most people don’t want to move from their home into Assisted Living. However, in some cases it is the best option to keep elderly or aging parents safe and healthy. There are many signs to watch for to determine if it’s time for a loved one to move.
                </p>
              
                <ul class="card-text">
                  <li>Unable to keep up with maintaining the house</li>
                  <li>Driving Skills have gotten worse</li>
                  <li>Loss of balance, movement, coordination</li>
                  <li>Falls, possibly trying to cover up bruises.</li>
                  <li>Increased medication mistakes</li>
                  <li>Stacks of papers and unpaid bills lying around</li>
                  <li>Memory problems / Becoming forgetful / Repeating themselves</li>
                  <li>Personal hygiene is becoming an issue</li>
                  <li>Signs of depression</li>
                </ul>

                <p class="card-text">
 
                  <strong>NETWORK OF PROFESSIONALS:</strong>
                  <br>
                  Soter regularly communicates and networks with a complete team of professionals that we can refer you and your family to. This can make many of the challenges families face a little easier. From Home Health Care to Elder Law Attorneys, Professional Guardians to Handymen, we can refer you to the right people at the right time!
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/MomRVResidentPhoto1.jpg" alt="">
          </div>
        </div>
      <br>
    <br>
        <div class="row">
          <div class="col-lg-6 mb-6">
            <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/troy-radio.jpg" alt="">
          </div>
          <div class="col-lg-6 mb-6">
            <div class="card h-100">
              <h4 class="card-header" style="color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Who We Are</h4>
              <div class="card-body"  style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
                <p class="card-text">
                    Soter includes a team of different backgrounds within the Healthcare Field bringing a combining over 50 years of experience. The expertise of the team provides the very best solutions for seniors and their families.
                    We provide guidance to older adults, helping them to find the right long-term care option that combines housing, support, and health care services appropriate to their needs.
                   <br><br>
                    Soter offers four types of services:  
                      <ul>
                        <li>In-home senior care</li>
                        <li>Senior housing advising and tour assistance</li>
                        <li>Home monitoring</li>
                        <li>Financial care coordination (Insurance and Gov't Aid)</li>
                      </ul>
                  <strong>WE ARE THERE EVERY STEP OF THE WAY!</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
          <br>
      <section class="parallax" style='background-image: url("https://cdn.sotercares.com/images/Victoria+Landing+515+0830.JPG");'>
        <div class="container">
          <div style="text-align: center; padding-top: 90px">
            <h2 style="color: white; text-shadow: 2px 2px #000000">World Class Communities</h2>
            <%= link_to "Start your Search", "#", class: "btn btn-danger btn-lg" %>
          </div>
        </div>
      </div>
    </section>
    
    <br>
    
      <div class="container info-box">
        <h2  style="text-align: center; color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Testimonials</h2>

        <div class="testimonial">
            <p style="color: #999999"><i class="fa fa-quote-left"></i> <em>When my eighty-six year old mother needed a safe and caring place to live, Geri Woods, CDP with Soter, stepped in and facilitated a seamless transition from home to Brookdale Senior Living.  Geri displayed a highly skilled and compassionate approach to helping my mom see the many benefits such a community had to offer.  As a certified dementia practitioner, Geri was able to proficiently guide my mother to a facility which would best meet her needs. 
              On the day of admission, Geri coordinated a multidisciplinary team meeting with the staff at Brookdale. Geri, my mom, and myself all attended and  my mom was able to participate in the  decision making process regarding her care. Not only was Geri able to accomplish the transition from home to Brookdale in only two days, she continues to be supportive to my mom and me throughout our adjustment to this new way of life. She ensures that my mom continues to "have her voice"  and is always available to discuss with her any concerns she may have. 
              I highly recommend Geri Woods, CDP. She is intelligent, compassionate, and creative in her approach to problem solving. I only wish there were more than five stars I could award Geri because she is a truly gifted family advocate.</em> </p>
            <h4 style="text-align: right"> - Susan</h4>
            <h6 style="text-align: right">Melbourne, FL</h6>
        </div>
        <br>
        <div class="testimonial">
            <p style="color: #999999"><i class="fa fa-quote-left"></i> <em>On July 31st, I was told that my father could no longer live at the Assisted Living community where he had been a resident since January of this year. The community was just too large for my father and his dementia was progressing.  I reached out to Soter on advice from a member of the Department of Children and Families and they came to my father’s rescue.  In just a few days the team at Soter found a loving, warm, smaller community for my father. A senior living facility that is actually more of a family focused environment where my dad can get the attention he needs but also contribute. 
              The team at Soter assisted with all the logistics of getting my father moved.  They supported me with all of my concerns at a distance as I am in Virginia and my dad is in Florida.  They guided me through the process of requesting Long term Medicaid and more over they physically moved my fathers’ belongings from his previous community to his new home.
              Soter is the most professional organization I have worked with over the last few years. They are not only professional, but they are very caring of the entire family.  Not only are they focused and responsive, but they have expertise in the field of dementia.  Geri and Troy are outstanding people, and I really can’t say enough about their assistance.
              I highly recommend the company.</em> </p>
            <h4 style="text-align: right"> - Jody</h4>
            <h6 style="text-align: right">Richmond, VA</h6>
        </div>
      </div>
    <hr>
    
    <br>
    
      <div class="container info-box">
        <!-- Portfolio Section -->
        <h2  style="text-align: center; color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Meet Our Team</h2>
        <br>
        <div class="row">
          <div class="col-lg-3">
              <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Denise-LeBlanc-Argue.jpg" alt="">
          </div>
          <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
              <h3>Troy Denault<h3>
              <h6>Sparta, IL</h6>
              <h6>President / CEO</h6>
              <h6>Certified Dementia Practitioner</h6>
              <p>Troy is the President and Founder of <strong>Soter</strong>.  He’s an experienced leader with demonstrated results working with families needing help across the Health Care Continuum.  He’s a dual degree graduate from the University of Florida where he earned his Bachelor of Science degree in Industrial-Organizational Psychology and his Bachelor of Arts degree in Business Administration.  During college Troy joined the United States Marine Corp and graduated Officer’s Candidate School in August 1995.  Understanding what the WWII, Korea, and Vietnam Veterans have done for our country inspired him to do more to help support aging Veterans and their families.  “No man is left behind!”  In 2010 he started working for a Medicare Homecare Agency and became the President of the Brevard Association of Human Services (BAHS).  He reignited BAHS and it became one of the largest networking organizations for Healthcare professionals in Brevard.  2 years later he took a position as the Business Development Director for the largest assisted living provider in Brevard and was elected the President of the Brevard Assisted Living Association.  After successfully growing both entities over the next few years he decided to open his own Senior Living and Family Advocacy organization, <strong>Soter</strong>.   His simple mission was to be a resource… To educate and advocate for families needing solutions to the problems that accompany aging.  With his years of specialized experience in Senior living and Elder Benefits, Troy is one of Florida’s top Senior Living Resources educators.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-3">
              <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Denise-LeBlanc-Argue.jpg" alt="">
          </div>
          <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
              <h3>Denise LeBlanc-Argue<h3>
              <h6>Gardner, MA</h6>
              <h6>Family Advocate</h6>
              <h6>CORE Trained</h6>
              <p>Denise earned her Bachelor of Arts degree with a double major in Psychology and Sociology in 1984 from the University of New Brunswick, Canada. She brings with her over 30 years experience working with seniors in various settings in different roles. She spent over half of her career working as a Social Worker in Skilled Nursing Facilities. Denise has also worked in Community Relations in various healthcare settings and as an Administrator of a Medicare Home Health Agency. With all her hands on experience, and training, Denise is very excited to be aiding seniors and families in need and to answer any questions they may have.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-3">
              <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/david-toliver-reduced.jpg" alt="">
          </div>
          <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
              <h3>Charles "David" Toliver<h3>
              <h6>Fort Wayne, IN</h6>
              <h6>Family Advocate</h6>
              <h6>CORE Trained</h6>
              <p>Three days after David's 15th birthday he received his work permit and had his first shift as a dietary assistant for Miller's Merry Manor, a skilled nursing facility in Columbia City, Indiana.  Over the next year he gained his Certified Nurse’s Aid Certification.  Shortly after he and his family moved to the Space Coast of Florida.  Once here he started working at Harbor Chase Assisted Living in Vero Beach where he continued his education and acquired his Medication Technician Certification.  David was then asked to join the marketing team with Harbor Chase as a Move-in Coordinator.  Having much success helping families navigate the many situations that accompany moving into an Assisted Living community led to him become the Director of Sales for Harbor Chase at the age of 21.  This allowed David to take more of a leadership role and allowed him to see and understand more of the healthcare industry as a whole.  His family then decided to start a residential assisted living facility in the Melbourne, Florida area by the name of SALUS.  David assisted his family by helping with the renovation and licensing processes for their new home.  After opening a second location for Salus, David was approached by Troy Denault and his idea of advocating for families with <strong>Soter</strong>.  At 30 years old David brings more than 15 years of experience across a variety of senior and healthcare industries and feels "blessed" to have an opportunity to put his years of knowledge to work helping families.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-3">
              <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/geri.jpg" alt="">
          </div>
          <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
              <h3>Geri Woods<h3>
              <h6>Fort Wayne, IN</h6>
              <h6>Family Advocate</h6>
              <h6>CORE Trained</h6>
              <p>Geri has worked in the senior living industry of Brevard County, FL for more than 10 years.  Her experience helping seniors and their families started as a receptionist in a large assisted living community in 2005.   She instantly fell in love with her families and their amazing stories.  Her compassion and “can do” attitude to help support them led her to multiple promotions and experience across a variety of different roles within the Assisted Living Industry.  She has been an Activities Director, an Admissions Director, and ultimately a Director of Marketing over 2 separate community types.  Over the years, she found her heart consistently gravitating towards residents and their families battling Memory Care issues.  This led her to continuing her education and becoming a Certified Dementia Practitioner in 2015.  We are very excited that Geri has joined our family here at <strong>Soter</strong> and will use her various experiences to educate, empower, and support families trying to make appropriate care decisions for their loved one(s).</p>
          </div>
        </div>
      </div>
    <hr>
    <div class="container info-box">
        <!-- Call to Action Section -->
        <div class="row mb-4">
            <div class="col-md-8">
                <h6 style="margin-top: 15px"><strong>Use our powerful search engine to find a community that fits your needs and budget!</strong></h6>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-primary btn-block" href="#">Start your Search</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12" style="text-align: center">
              <br>
                <p><em>Soter provides services to all persons without regard to race, color, religion, sex, national origin, handicap, or age.</em></p>
            </div>
        </div>
      </div>
    </div>
    <br>
<% end %>
