<% provide(:title, "Home") %>
<% cache do %>
<div class="row">
  <div class="col-md-4">
    <h3>Welcome to Soter Family Advocates</h3>
    <h4>
      For access, please contact a system administrator
    </h4>
    <%= link_to "Log in", login_path, class: "btn btn-primary" %>
  </div>
  
</div>
<% end %>