<div class="fluid-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class=MsoNormal align=center style='text-align:center;mso-outline-level:
          2;vertical-align:baseline'><b><span style='font-size:18.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'><o:p>&nbsp;</o:p></span></b></p>

      <p class=MsoNormal align=center style='text-align:center;mso-outline-level:
          2;vertical-align:baseline'><b><span style='font-size:18.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'>SOTER,
LLC SENIOR LIVING &amp; FAMILY ADVOCATES<o:p></o:p></span></b></p>

      <p class=MsoNormal align=center style='text-align:center;mso-outline-level:
          2;vertical-align:baseline'><b><span style='font-size:18.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'>privacy
policy<o:p></o:p></span></b></p>

      <p class=MsoNormal align=center style='text-align:center;mso-outline-level:
          2;vertical-align:baseline'><b><span style='font-size:18.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'><o:p>&nbsp;</o:p></span></b></p>

      <p class=MsoNormal align=center style='text-align:center;mso-outline-level:
          2;vertical-align:baseline'><b><span style='font-size:18.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'><o:p>&nbsp;</o:p></span></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;vertical-align:baseline'><span
        class=SpellE><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>Soter</span></i></span><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>, LLC will assist you in finding senior living
care services, after you, or a person authorized on your behalf, have read and
understood our Privacy Policy and have consented to its terms and
conditions.<span style='mso-spacerun:yes'>  </span><span class=SpellE>Soter</span>
will not sell your name, email address or other information, except to third
parties which may provide or offer the services you've requested from us or as
otherwise described below under Disclosure of Personal Information.<span
        style='mso-spacerun:yes'>  </span>This privacy policy explains the collection,
use, and disclosure practices of this web site owned and/or operated by <span
        class=SpellE>Soter</span>, LLC.<span style='mso-spacerun:yes'>  </span>We may
update this statement occasionally.<span style='mso-spacerun:yes'>  </span>We
would ask that you check the date of our privacy policy whenever you visit the
Site to see whether it has been modified since your last access of said
Site.<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:15.0pt;text-align:center;
          vertical-align:baseline'><b><i style='mso-bidi-font-style:normal'><span
        style='font-size:14.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#00426A;text-transform:uppercase'>I - PersONAL
INFORMATION</span></i></b><b style='mso-bidi-font-weight:normal'><i
        style='mso-bidi-font-style:normal'><span style='font-size:14.0pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'><o:p></o:p></span></i></b></p>

      <p class=MsoListParagraph style='margin-top:0in;margin-right:0in;margin-bottom:
          15.0pt;margin-left:27.0pt;mso-add-space:auto;text-align:justify;text-indent:
          -.25in;mso-list:l0 level1 lfo21;vertical-align:baseline'><![if !supportLists]><b
        style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;mso-bidi-font-size:16.0pt;font-family:"Arial",sans-serif;
            mso-fareast-font-family:Arial;color:#333333'><span style='mso-list:Ignore'>A.<span
        style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span></span></i></b><![endif]><b
        style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>COLLECTING - </span></i></b><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'>Our
Senior Living Advisors may ask you to provide personal information such as your
name, address, email, phone number and zip code, and other personal information,
and may or may not include any other information provided by or for you, and/or
provided by any other person authorized to act on your behalf (</span></i><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "inherit",serif;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
          Arial;color:#333333;border:none windowtext 1.0pt;mso-border-alt:none windowtext 0in;
          padding:0in;mso-bidi-font-weight:bold'>&quot;</span></i><i style='mso-bidi-font-style:
          normal'><span style='font-size:10.5pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#333333;border:none windowtext 1.0pt;
          mso-border-alt:none windowtext 0in;padding:0in;mso-bidi-font-weight:bold'>Personal
Information</span></i><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"inherit",serif;mso-fareast-font-family:
            "Times New Roman";mso-bidi-font-family:Arial;color:#333333;border:none windowtext 1.0pt;
            mso-border-alt:none windowtext 0in;padding:0in;mso-bidi-font-weight:bold'>&quot;</span></i><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'>). <span
        style='mso-spacerun:yes'> </span>We may collect and store any personal
information, including information gathered over the phone.<span
        style='mso-spacerun:yes'>  </span>In the event of valid demands or requests
from courts, governments and law enforcement, we might be required to disclose
certain information. <span style='mso-spacerun:yes'> </span>To reiterate, for
services provided on or in connection with our Site, we may ask you to provide
personal information such as name, address, email, phone number and zip code,
and may or may not include other information provided by or for you, and/or
provided by any other person for whom you may be seeking services
(&quot;Personal Information&quot;). In addition thereto, we may use Web site
analytics or other technologies, to collect information about your visit to the
Site, including the pages you view, the links you click and other actions taken
in connection with the Site and our services. <span
        style='mso-spacerun:yes'> </span>Periodically, we may obtain both personal and non-personal
information about you from other businesses, business partners, contractors and
other third parties which supplements the other Personal Information we
collect, use and disclose, and may collect certain standard information that
your browser sends to the Web sites you visit, including Web site addresses,
access times, browser type and language, and referring Web site addresses. </span></i><i
        style='mso-bidi-font-style:normal'><span style='font-size:16.0pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'><o:p></o:p></span></i></p>

      <p class=MsoNormal style='mso-outline-level:3;vertical-align:baseline'><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoListParagraphCxSpFirst style='margin-left:27.0pt;mso-add-space:
          auto;text-align:justify;text-indent:-.25in;mso-outline-level:3;mso-list:l0 level1 lfo21;
          vertical-align:baseline'><![if !supportLists]><b style='mso-bidi-font-weight:
          normal'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:Arial;color:#333333'><span
        style='mso-list:Ignore'>B.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></span></i></b><![endif]><span class=GramE><b style='mso-bidi-font-weight:
          normal'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>USE<span style='mso-spacerun:yes'>  </span>-</span></i></b></span><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'><span
        style='mso-spacerun:yes'>  </span></span></i><i style='mso-bidi-font-style:
          normal'><span style='font-size:10.5pt;font-family:"Arial",sans-serif'>By using
our site, and accessing the “pricing” information, you consent to the
collection, use and disclosure of your Personal Information in accordance with
the terms and conditions of this Privacy Policy.<span
        style='mso-spacerun:yes'>  </span></span></i><i style='mso-bidi-font-style:
          normal'><span style='font-size:10.5pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#333333'>Such Personal
Information is used to provide you with the services you have requested from us
<o:p></o:p></span></i></p>

      <p class=MsoListParagraphCxSpMiddle style='margin-top:0in;margin-right:0in;
          margin-bottom:15.0pt;margin-left:27.0pt;mso-add-space:auto;text-align:justify;
          vertical-align:baseline'><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>and to provide services to the senior housing
and care providers who have contracted with us (&quot;Participating
Communities&quot;) to be part of our referral information service program in
relation to the services that we provide you. In addition, we may use Personal
Information to send you periodic email, surveys, and similar communications
about products and services offered by us or third parties, to respond to
customer inquiries, and to operate and improve our Sites and services.<span
        style='mso-spacerun:yes'>  </span></span></i><i style='mso-bidi-font-style:
          normal'><span style='font-size:10.5pt;font-family:"Arial",sans-serif'>On
occasion, w</span></i><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>e may also use Personal Information for our
own internal business purposes including statistical, design or operational
purposes, such as to estimate our audience size, understand demographics, and measure
patterns.<span style='mso-spacerun:yes'>  </span><o:p></o:p></span></i></p>

      <p class=MsoListParagraphCxSpMiddle><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoListParagraphCxSpLast style='margin-top:0in;margin-right:0in;
          margin-bottom:15.0pt;margin-left:.75in;mso-add-space:auto;vertical-align:baseline'><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          mso-outline-level:2;vertical-align:baseline'><b><i style='mso-bidi-font-style:
          normal'><span style='font-size:14.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'>II.<span
        style='mso-spacerun:yes'>   </span>DISCLOSURE<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:6.0pt;vertical-align:baseline'><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'><span
        style='mso-spacerun:yes'>    </span><span class=SpellE><b style='mso-bidi-font-weight:
          normal'>Soter</b></span><b style='mso-bidi-font-weight:normal'>, LLC may
disclose or share Personal Information about you with other people including:<o:p></o:p></b></span></i></p>

      <p class=MsoListParagraphCxSpFirst style='margin-left:33.0pt;mso-add-space:
          auto;text-indent:-.25in;mso-list:l13 level1 lfo15;vertical-align:baseline'><![if !supportLists]><b
        style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            Arial;color:#333333'><span style='mso-list:Ignore'>A.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></span></i></b><![endif]><b><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333;border:none windowtext 1.0pt;mso-border-alt:
            none windowtext 0in;padding:0in'>HIPPA and Participating Communities.</span></i></b><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'>&nbsp;<span
        style='mso-spacerun:yes'>  </span>Under the Partnership Agreement, each
Participating Community is bound by HIPPA Laws, and has also agreed to
implement privacy and security practices and procedures comparable to, or at
least as stringent as, those implemented by us and not to disclose Personal
Information to any third party.<span style='mso-spacerun:yes'>  </span>We may
disclose Personal Information to one or more Participating Communities so that
they may learn about the specific senior living care services that you are
seeking and determine how they can assist you. Participating Communities may
contact you directly by email, telephone, regular mail, in person visits or
other means, based on your preference and as specified by you to the Senior
Living Advisor during the initial collection of your Personal Information. We
do not control how these Participating Communities use or disclose your
Personal Information.<span style='mso-spacerun:yes'>  </span>However, per our Agreement
with each Participating Community, such Community has agreed to limit its use
of your Personal Information to (a) providing senior living and/or care
services to such residents; and (b) its own internal evaluation of potential residents.<o:p></o:p></span></i></p>

      <p class=MsoListParagraphCxSpMiddle style='margin-left:33.0pt;mso-add-space:
          auto;vertical-align:baseline'><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoListParagraphCxSpMiddle style='margin-left:33.0pt;mso-add-space:
          auto;text-indent:-.25in;mso-list:l13 level1 lfo15;vertical-align:baseline'><![if !supportLists]><b
        style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            Arial;color:#333333'><span style='mso-list:Ignore'>B.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></span></i></b><![endif]><b><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333;border:none windowtext 1.0pt;mso-border-alt:
            none windowtext 0in;padding:0in'>Internal Operations and Analysis</span></i></b><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "inherit",serif;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
          Arial;color:#333333;border:none windowtext 1.0pt;mso-border-alt:none windowtext 0in;
          padding:0in'>.</span></i></b><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>&nbsp; We may disclose Personal Information
for our own internal statistical, design or operational purposes, such as to
estimate our audience size, measure aggregate patterns, and understand
demographic trends among our users. We may outsource these tasks and disclose
Personal Information about you to third parties.<o:p></o:p></span></i></p>

      <p class=MsoListParagraphCxSpMiddle><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoListParagraphCxSpMiddle style='margin-left:33.0pt;mso-add-space:
          auto;text-indent:-.25in;mso-list:l13 level1 lfo15;vertical-align:baseline'><![if !supportLists]><b
        style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            Arial;color:#333333'><span style='mso-list:Ignore'>C.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></span></i></b><![endif]><b><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333;border:none windowtext 1.0pt;mso-border-alt:
            none windowtext 0in;padding:0in'>Legal Compliance.</span></i></b><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'>&nbsp;We
may disclose Personal Information when we believe it is appropriate to comply
with the law; to enforce or apply this Privacy Policy or our other policies or
agreements; to protect our or our users' rights, property or safety; to protect
our users from fraudulent, abusive or unlawful use of, our Sites; or if we
reasonably believe that an emergency involving immediate danger of death or
serious physical injury to any person requires disclosure of communications or
justifies disclosure of records without delay.<o:p></o:p></span></i></p>

      <p class=MsoListParagraphCxSpMiddle><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoListParagraphCxSpLast style='margin-left:33.0pt;mso-add-space:auto;
          text-indent:-.25in;mso-list:l13 level1 lfo15;vertical-align:baseline'><![if !supportLists]><b
        style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            Arial;color:#333333'><span style='mso-list:Ignore'>D.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></span></i></b><![endif]><b><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333;border:none windowtext 1.0pt;mso-border-alt:
            none windowtext 0in;padding:0in'>Third Party Providers.</span></i></b><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'>&nbsp;We
may disclose or share Personal Information to one or more third parties with
whom we have contracted to provide services to us. We may also disclose
Personal Information to one or more third parties who are interested in
providing services or products to you. We do not control how these third
parties use or disclose your Personal Information.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='vertical-align:baseline'><i style='mso-bidi-font-style:
          normal'><span style='font-size:10.5pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoListParagraph style='margin-left:33.0pt;mso-add-space:auto;
          text-indent:-.25in;mso-list:l13 level1 lfo15;vertical-align:baseline'><![if !supportLists]><b
        style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            Arial;color:#333333'><span style='mso-list:Ignore'>E.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;
</span></span></span></i></b><![endif]><b><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333;border:none windowtext 1.0pt;mso-border-alt:
            none windowtext 0in;padding:0in'>Aggregated Information and Business Transfers</span></i></b><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "inherit",serif;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
          Arial;color:#333333;border:none windowtext 1.0pt;mso-border-alt:none windowtext 0in;
          padding:0in'>.<span style='mso-spacerun:yes'>   </span></span></i></b><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'>We
may share aggregated, anonymous information that includes or is based on
information about you with third parties. This is information that is combined
with the information of other users and does not directly identify you.
Depending on the circumstances, we may or may not charge third parties for this
aggregated information. In addition, we also may not be able to limit the third
parties’ use of the aggregated information.<span style='mso-spacerun:yes'> 
</span>We may disclose Personal Information as part of any merger, acquisition,
debt financing, sale of company assets or other business transaction.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:7.5pt;mso-outline-level:2;vertical-align:
          baseline'><b><i style='mso-bidi-font-style:normal'><span style='font-size:18.0pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#00426A;text-transform:uppercase'><o:p>&nbsp;</o:p></span></i></b></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          mso-outline-level:2;vertical-align:baseline'><b><i style='mso-bidi-font-style:
          normal'><span style='font-size:14.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'>III.<span
        style='mso-spacerun:yes'>   </span>NON-PERSONAL INFORMATION<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;vertical-align:baseline'><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'>If
aggregate information is ever linked with your Personal Information, such
information will be treated as Personal Information for the purposes of this Privacy
Policy as long as it is linked.<span style='mso-spacerun:yes'>  </span>Please
note that non-personal information collected at the Site may be used and
disclosed to improve the performance, functionality and content of the Site.
For example, we may collect and analyze collected aggregate information to
determine how many visitors arrived at certain pages of the Site, how long they
stayed on those pages, and where they went afterwards. This information allows
us to determine which pages might be the most interesting to our users and enables
us to provide you with a richer experience on the Site. Additionally, we may
use non-personal information to improve the performance of the Site and to
customize the content, features and layout of the Site pages for you.<span
        style='mso-spacerun:yes'>  </span>Occasionally we share aggregate information
with third parties, such as our advertisers and business partners, for
marketing and promotional purposes.<span style='mso-spacerun:yes'>  </span>We
may supplement aggregate information collected from the Site with similar
information obtained from companies with whom we have marketing or other
business relationships and other third party sources. <o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          mso-outline-level:2;vertical-align:baseline'><b><i style='mso-bidi-font-style:
          normal'><span style='font-size:14.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'>IV.<span
        style='mso-spacerun:yes'>   </span>THIRD PARTIES<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;vertical-align:baseline'><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'>As
herein set forth, please note that we may provide links to third party Web site
from our Site as a service to our users, but we have no ability to control, and
are not responsible for, the privacy and data collection, use, and disclosure
practices of such sites and the privacy policies of such Web sites may differ
from the Site. <span style='mso-spacerun:yes'> </span>Therefore, we encourage
you to review and understand the privacy policies of such Web sites before
providing them with any information. These other Web sites may also solicit
your personal information, send their own cookies to you, and collect your data.
<span style='mso-spacerun:yes'> </span>You have the ability to accept or
decline cookies. Most Web browsers automatically accept cookies, but you can
usually modify your browser setting to decline cookies if you prefer. If you
choose to accept cookies, you also have the ability to later delete cookies
that you have accepted.<span style='mso-spacerun:yes'>  </span>Always be aware
of where you end up. <span style='mso-spacerun:yes'> </span>In Internet
Explorer 8, you can delete cookies by selecting &quot;Tools&quot;, &quot;Delete
browsing history&quot;. Then select the control box &quot;Cookies&quot; and
click the &quot;Delete&quot; button. If you choose to delete cookies, any
settings and preferences controlled by those cookies, including advertising
preferences, will be deleted and may need to be recreated.<o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          mso-outline-level:2;vertical-align:baseline'><b><i style='mso-bidi-font-style:
          normal'><span style='font-size:14.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'>V.<span
        style='mso-spacerun:yes'>   </span>SECURITY<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='vertical-align:baseline'><i style='mso-bidi-font-style:
          normal'><span style='font-size:10.5pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#333333'>We use reasonable
security measures to store and maintain Personal Information to protect it from
loss, misuse, alteration or destruction by any unauthorized party while under
our control. Please note that while we make reasonable efforts to protect
Personal Information, no transmission of data over the Internet is 100% secure.
All Internet users should take care with how they handle and disclose personal
information. Refer to the Federal Trade Commission website:&nbsp;</span></i><i
        style='mso-bidi-font-style:normal'><u><span style='font-size:10.5pt;font-family:
          "inherit",serif;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
          Arial;color:#00426A;border:none windowtext 1.0pt;mso-border-alt:none windowtext 0in;
          padding:0in'><a href="http://www.ftc.gov/bcp/menus/consumer/data.shtm"
                          target="_blank"><span style='color:#00426A'>http://www.ftc.gov/bcp/menus/consumer/data.shtm</span></a></span></u></i><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'>
for information about how to help protect yourself against identity theft.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='vertical-align:baseline'><b><i style='mso-bidi-font-style:
          normal'><span style='font-size:18.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'><o:p>&nbsp;</o:p></span></i></b></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          mso-outline-level:2;vertical-align:baseline'><b><i style='mso-bidi-font-style:
          normal'><span style='font-size:14.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'>VI.<span
        style='mso-spacerun:yes'>  </span>ADVERTISING COMPANIES<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;vertical-align:baseline'><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'>Third
party advertisers or ad networks may use cookies or other technologies on our
Site for various purposes, including measuring the effectiveness of their ads
and analyzing and personalizing ads or other content delivered to you. We have
no ability to control the privacy and data collection, use, and disclosure
practices of such Web sites and the privacy policies of such Web sites may
differ from the Site. Therefore, we encourage you to review and understand the
privacy policies of such Web sites before providing them with any information.<o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          mso-outline-level:2;vertical-align:baseline'><b><i style='mso-bidi-font-style:
          normal'><span style='font-size:14.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'>VII.<span
        style='mso-spacerun:yes'>  </span>PRIVACY RIGHTS<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;vertical-align:baseline'><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'>Companies
that collect personally identifiable information from California residents and
disclose such information to third parties for marketing purposes must, in
response to a request by a consumer, either (1) provide a list detailing the
categories of information shared and the entities to which such information was
provided, or (2) provide a mechanism by which a consumer may opt-out of having
their information shared with third parties. We have elected the second option
and you may request that your personally identifiable information not be shared
with third parties by sending your request, including your full name, email
address and postal address to: <span style='mso-spacerun:yes'>  </span><span
        class=SpellE>Soter</span> Senior Living and Family Advocates, 2197 Julian
Avenue-N.E., Palm Bay, FL<span style='mso-spacerun:yes'>  </span>32905.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;vertical-align:baseline'><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          mso-outline-level:2;vertical-align:baseline'><b><i style='mso-bidi-font-style:
          normal'><span style='font-size:14.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'>viii.<span
        style='mso-spacerun:yes'>  </span>Automatic dialing/DO NOT TRACK DISCLOSURES<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;vertical-align:baseline'><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'>You
agree to be contacted by a Senior Living Advisor and by our senior living
partners and other partners to explore options at the telephone number you have
provided. You agree we, our senior living partners and other partners may use
automatic telephone dialing systems and technology to contact you by call or
text message at the telephone number provided, even if you previously
registered on a Do Not Call registry.<span style='mso-spacerun:yes'>  </span>No
action is taken in response to web browser &quot;do not track&quot; signals or
other mechanisms that provide consumers the ability to exercise choice
regarding the collection of personally identifiable information about an
individual consumer’s online activities over time and across third-party web
sites or online services. Although we use Google Analytics and other third
party tracking tools for our Sites, we are not aware if third parties collect
personally identifiable information about an individual consumer’s online
activities when a consumer uses our Sites.<o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:3.75pt;text-align:center;
          mso-outline-level:3;vertical-align:baseline'><b><i style='mso-bidi-font-style:
          normal'><span style='font-size:14.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'>iX.<span
        style='mso-spacerun:yes'>  </span>improving site and services<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;vertical-align:baseline'><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'>In
addition, we may use Web site analytics tools, or other technologies, like
cookies and Web beacons, to collect information about your visit to the Site,
including the pages you view, the links you click and other actions taken in
connection with the Site and our services. We also may collect certain standard
information that your browser sends to every Web site you visit, such as your
IP address, browser type and language, access times and referring Web site addresses.
We also periodically may obtain both personal and non-personal information
about you from other businesses, business partners, contractors and other third
parties which supplements the Personal Information we collect, use and
disclose.<span style='mso-spacerun:yes'>  </span>Please be advised that the
practices described in this Privacy Policy apply to Personal Information
gathered over the telephone by our Senior Living Advisors, online at our Site, and/or
Personal Information that you may submit to us offline during the course of our
dealings with you, Web site maintained by other companies, or organizations to
which we may link, and to Personal Information we may collect further from
third parties.<o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          mso-outline-level:2;vertical-align:baseline'><b><i style='mso-bidi-font-style:
          normal'><span style='font-size:14.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'>X.<span
        style='mso-spacerun:yes'>  </span>GENERAL PROVISIONs and consent<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:7.5pt;mso-outline-level:2;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><span style='mso-spacerun:yes'>     </span><span
        style='mso-spacerun:yes'> </span><b style='mso-bidi-font-weight:normal'>A.</b><span
        style='mso-spacerun:yes'>  </span><b style='mso-bidi-font-weight:normal'>Services.</b><span
        style='mso-spacerun:yes'>  </span>We use Personal Information to provide you
with the services you have requested from us and to provide services to the
senior living and care providers who have contracted with us (&quot;<b><span
        style='border:none windowtext 1.0pt;mso-border-alt:none windowtext 0in;
            padding:0in'>Participating Communities</span></b>&quot;) by signing our
Partnership Agreement for Information Services (<b style='mso-bidi-font-weight:
          normal'>Partnership <span style='border:none windowtext 1.0pt;mso-border-alt:
          none windowtext 0in;padding:0in;mso-bidi-font-weight:bold'>Agreement</span></b>&quot;)
and agreeing to be part of our referral information service program in relation
to the services that we provide you. Based on the Personal Information that we
have collected, we will provide you with the information about one or more of
our Participating Communities whom we identify as options for your
consideration. The Participating Communities then may contact you directly
regarding their facilities or services. We will work with both you and the
Participating Communities in your search.<span style='mso-spacerun:yes'> 
</span>We may share Personal Information with one or more third parties with
whom we have contracted to provide services to us. Our contracts with these
parties specify the purpose(s) for which Personal Information has been shared
with them and the limited purpose(s) for which the Personal Information may be
used by them. Our contracts with these parties also require that they implement
privacy and security practices and procedures comparable to, or at least as
stringent as those implemented by us, that they do not disclose Personal
Information to any other third party, and that they comply with all applicable
laws, including privacy laws.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:7.5pt;mso-outline-level:2;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><span style='mso-spacerun:yes'>   </span><b style='mso-bidi-font-weight:
          normal'>B. <span style='mso-spacerun:yes'> </span>Links.</b><span
        style='mso-spacerun:yes'>  </span>Please be advised that we may provide links
to third party Web sites from our Site as a service to our users, but we have
no ability to control, and are not responsible for, the privacy and data
collection, use, and disclosure practices of such sites and the privacy
policies of such Web sites may differ from the Site. Therefore, we encourage
you to review and understand the privacy policies of such Web sites before
providing them with any information. These other Web sites also may send their
own cookies to you, collect your data or solicit your Personal Information.
Always be aware of where you end up.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:7.5pt;mso-outline-level:2;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><span style='mso-spacerun:yes'>   </span><b style='mso-bidi-font-weight:
          normal'>C.<span style='mso-spacerun:yes'>  </span>Questions and Concerns.</b><span
        style='mso-spacerun:yes'>   </span>If you have any questions or concerns about
this Privacy Policy or the privacy practices of our Site, please contact us
at&nbsp;</span></i><i style='mso-bidi-font-style:normal'><u><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#00426A;border:none windowtext 1.0pt;mso-border-alt:
            none windowtext 0in;padding:0in'>info@sotercares.com</span></u></i><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#333333'>&nbsp;or
call us at 321-419-0041.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:7.5pt;mso-outline-level:2;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><span style='mso-spacerun:yes'>   </span><b style='mso-bidi-font-weight:
          normal'>D. <span style='mso-spacerun:yes'>  </span>Governing Law.<span
        style='mso-spacerun:yes'>  </span></b>The Site is published in the United
States. We attempt to comply with local data protection, privacy and consumer
rights laws to the extent they may apply to our services. If you are uncertain
whether this Privacy Policy conflicts with the applicable local privacy laws
where you are located, you should not submit your Personal Information to the
Site.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:7.5pt;mso-outline-level:2;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><span style='mso-spacerun:yes'>   </span><b style='mso-bidi-font-weight:
          normal'>E.<span style='mso-spacerun:yes'>  </span>Changes in Privacy Policy.</b><span
        style='mso-spacerun:yes'>   </span>As we continue to develop our Site, we may
add new services and features to our Site. In the event that these additions
affect our Privacy Policy, this Privacy Policy will be updated appropriately,
and we encourage you to check the date of our Privacy Policy whenever you visit
the Site to determine if it has been modified since your last visit. We will
post changes prominently so that you will know what Personal Information we
gather, how we might use that Personal Information, and whether we will
disclose it to anyone. We, however, recommend that you read this Privacy Policy
each time you use our Site in case you missed our notice of changes to the
Privacy Policy. We will not materially change our policies and practices to
make them less protective of Personal Information we have previously collected
without your express consent.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:7.5pt;mso-outline-level:2;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><span style='mso-spacerun:yes'>   </span><b style='mso-bidi-font-weight:
          normal'>F.<span style='mso-spacerun:yes'>  </span>Access to Your Personal
Information.<span style='mso-spacerun:yes'>  </span></b>Upon written request,
you may access your Personal Information that is in our possession and request
a correction or update of any such information.<span
        style='mso-spacerun:yes'>   </span><b style='mso-bidi-font-weight:normal'><o:p></o:p></b></span></i></p>

      <p class=MsoNormal style='margin-bottom:7.5pt;mso-outline-level:2;vertical-align:
          baseline'><b style='mso-bidi-font-weight:normal'><i style='mso-bidi-font-style:
          normal'><span style='font-size:10.5pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#333333'><span
        style='mso-spacerun:yes'>   </span>G.<span style='mso-spacerun:yes'> 
</span>Opt-Out of <span class=SpellE>Soter</span>, <span class=GramE>LLC<span
        style='mso-spacerun:yes'>  </span>Communications</span>.<span
        style='mso-spacerun:yes'>   </span></span></i></b><i style='mso-bidi-font-style:
          normal'><span style='font-size:10.5pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#333333'>We may periodically
send you newsletters and other communications that promote the use of our
services. When you receive our newsletters, you may indicate a preference to
stop receiving further newsletters by following the opt-out instructions that
we include in the newsletter we send you. However, if you wish to opt-out of
communications with Participating Communities, you must contact them directly
as we do not control communications from Participating Communities.<o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          mso-outline-level:2;vertical-align:baseline'><b><i style='mso-bidi-font-style:
          normal'><span style='font-size:14.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'>XI.<span
        style='mso-tab-count:1'>     </span>ACKNOWLEDGEMENT, AUTHORIZATION &amp;
CONSENT<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='vertical-align:baseline'><i style='mso-bidi-font-style:
          normal'><span style='font-family:"Arial",sans-serif;mso-fareast-font-family:
          "Times New Roman";color:#333333'>You hereby confirm </span></i><i
        style='mso-bidi-font-style:normal'><span style='font-family:"Arial",sans-serif'>that
you have read and understood this Privacy Policy and by using our site, and
accessing the “pricing” information, you consent to the collection, use and
disclosure of your Personal Information in accordance with the terms and
conditions of this Privacy Policy.<span style='mso-spacerun:yes'>  </span>You
hereby further confirm that </span></i><i style='mso-bidi-font-style:normal'><span
        style='font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
            color:#333333'>you are:<span style='mso-spacerun:yes'>  </span>a senior seeking
living and care services for yourself; <span
        style='mso-spacerun:yes'>  </span>or an individual authorized to act on behalf
of a senior seeking living and care services and possess legal documents such
as a Power of Attorney or Guardianship or hold other proof of being the
substitute decision maker of the senior seeking living and care services.</span></i><i
        style='mso-bidi-font-style:normal'><span style='font-family:"Arial",sans-serif'><o:p></o:p></span></i></p>

      <p class=MsoNormal style='vertical-align:baseline'><i style='mso-bidi-font-style:
          normal'><span style='font-family:"Arial",sans-serif'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoNormal style='vertical-align:baseline'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333;border:none windowtext 1.0pt;mso-border-alt:none windowtext 0in;
          padding:0in;mso-bidi-font-weight:bold'>(Effective Date: April, 2018)</span><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'><o:p></o:p></span></p>

      <p class=MsoNormal style='vertical-align:baseline'><i style='mso-bidi-font-style:
          normal'><span style='font-family:"Arial",sans-serif;mso-fareast-font-family:
          "Times New Roman";color:#333333'><o:p>&nbsp;</o:p></span></i></p>
    </div>
  </div>
</div>

