<% provide(:title, "Team") %>
<% cache do %>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

  <div class="container info-box">
    <!-- Portfolio Section -->
    <h2  style="text-align: center; color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Meet Our Team</h2>
    <br>
    <div class="row">
      <div class="col-lg-3">
          <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Troy.jpg" alt="" style="height: 160px">
      </div>
      <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
          <h3>Troy Denault, CDP</h3>
          <h6>Sparta, IL</h6>
          <h6>President / CEO</h6>
          <h6>Certified Dementia Practitioner</h6>
          <p>Troy is the President and Founder of <strong>Soter Senior Living and Family Advocates</strong>. He’s an experienced leader with demonstrated results working with families needing help across the Health Care Continuum. He’s a dual degree graduate from the University of Florida having earned his Bachelor of Science in Industrial-Organizational Psychology and a Bachelor of Arts degree in Business Administration. During college Troy joined the United States Marine Corp and graduated Officer’s Candidate School in August 1995. Understanding what the WWII, Korea, and Vietnam Veterans have done for our country, partnered with the mindset that “No man is left behind”, inspired him to do more to support aging Veterans and their families. In 2010 he became the President of the Brevard Association of Human Services (BAHS). He reignited BAHS and it became one of the largest networking organizations for Healthcare professionals in Brevard. 2 years later he took a position as the Business Development Director for Brookdale Senior Living in Brevard County and was elected the President of the Brevard Assisted Living Association.  After successfully growing both entities over the next few years he decided to start his own Senior Living and Family Advocacy organization, <strong>Soter Senior Living and Family Advocates</strong>.  His simple mission was, “To be an unbiased resource, to be on the family’s side, to educate and advocate for families needing solutions to the issues that accompany aging.”  With his years of specialized experience in Senior living and Elder Benefits, Troy is one of Florida’s top Senior Living Resources educators.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-3">
          <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Geri W.jpg" alt="" style="height: 160px">
      </div>
      <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
          <h3>Geri Woods, CDP</h3>
          <h6>Pittsburgh, PA</h6>
          <h6>Family Advocate</h6>
          <h6>Certified Dementia Practitioner</h6>
          <p>Geri has worked in the senior living industry of Brevard County, FL for more than 11 years. Her experience helping seniors and their families started as a receptionist at Hibiscus Court Assisted Living in 2005. She instantly fell in love with her families and their amazing stories. Her compassion and “can do” attitude to help support them led her to multiple promotions and experiences across a variety of different roles within the Assisted Living Industry. She has been an Activities Director, an Admissions Director, and ultimately a Director of Marketing position with Grand Villa of Melbourne. Once their Memory Care Community opened she found her heart consistently gravitating towards residents and their families battling Memory Care issues. This inspired her to become a Certified Dementia Practitioner in 2015. In February, 2017 Geri joined our family here at Soter and will use her various experiences to educate, empower, and support families trying to make appropriate care decisions for their loved one(s).</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-3">
        <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Betty.jpg" alt="" style="height: 160px">
      </div>
      <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
        <h3>Betty Myers, CDP</h3>
        <h6>Browns Mills, NJ</h6>
        <h6>Family Advocate</h6>
        <h6>Certified Dementia Practitioner</h6>
        <p>I was adopted at a very young age from South Korea and lived in New Jersey most of my life before moving to Florida in 2004. My experiences working in the healthcare environment began with a doctor owned start up insurance company, then a medical malpractice company. I found myself wanting to help, first hand, directly with the community. I took a position working in an assisting living community and then transitioned over to a skilled nursing facility (aka. nursing home). I loved learning about the many components and levels of healthcare. Then for almost six years I worked as the Admissions and Marketing Director that covered Indian River and St. Lucie Counties. I learned a great deal about the Acute Healthcare system helping support and care for seniors directly from the hospital. I learned first-hand about insurance coverages, Medicare, Medicaid, and Veteran’s Benefits. Just recently I became a Certified Dementia Practitioner to better support families that have a loved one battling cognitive impairment. I have finally found my calling with Soter Senior Living and Family Advocates. This opportunity is what I have been waiting for and I truly look forward to making a difference in people’s lives.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-3">
        <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Shanon1.jpg" alt="" style="height: 160px">
      </div>
      <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
        <h3>Shanon Wilcox, RN, CDP</h3>
        <h6>Conneaut, OH</h6>
        <h6>Registered Nurse / Certified Dementia Practitioner / Care Manager / Certified Trainer</h6>
        <p>Shanon has been in the Long Term Care settings since 1996, starting with rehab and nursing home patients as a CNA. She moved into the Assisted Living setting over 14 years ago and has loved it ever since. Shanon became a Registered Nurse in 2010 and started Cardiac Nursing while still working part time in Assisted Living. In 2011, Shanon was promoted into Assisted Living Clinical Management and was responsible for training of the clinical and care staff for multiple Assisted Living Communities.  Shanon began completing quality assurance and regulatory compliance auditing across 14 different Assisted Living Communities while maintaining an Assisted Living Community of her own as their Director of Nursing. Shanon quickly realized that she had a love for teaching and staff education… She recognized the direct impact it has on Seniors and their families. Shanon has now joined forces with the Soter Senior Living Team and is here to help with Nursing Assessments, Nurse Care Management and to help Assisted Living Communities directly.  She is available to do Assisted Living Mock Audits, Assisted Living Regulatory Consulting, is able to train Medication Technicians (aka. Med Techs), help staff to complete their Level 1 & level 2 Alzheimer’s training, CPR and First Aid requirements, and Dietary and Food Safety Compliance requirements. Shanon also recently became Certified by the Agency for Health Care Administration as a State of Florida Administrator CORE Trainer which affords her the ability to teach old and potentially new Assisted Living Administrators on the regulatory standards as to how to appropriately run an Assisted Living Community.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-3">
        <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Kelly M.jpg" alt="" style="height: 160px">
      </div>
      <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
        <h3>Kelly Myers, CDP, LCSW</h3>
        <h6>Clarksburg, WV</h6>
        <h6>Licensed Clinical Social Worker / Certified Dementia Practitioner</h6>
        <p>Hi, I’m Kelly.  My life’s passion is finding solutions to human problems.  I was born, raised, and educated in the heart of Appalachia where it turns out I was heavily inspired by my grandmother and mother who both worked as nurses providing hands on loving care to seniors when they were no longer able to care for themselves.  After graduating from WVU in 2006 with a Masters of Social Work I also found my calling in working to improve the lives of seniors and persons with chronic illness.  As a medical social worker I have experience working alongside countless doctors, nurses, physical therapists, occupational therapists, and home health aids in skilled nursing facilities, dialysis treatment centers, hospice and home care agencies. My experience and education has produced skills in clinical assessment, psychotherapy, resource utilization, and financial benefits acquisition.   In other words, I help people to identify and reduce barriers not only to their safety but also to their general wellbeing; all the while considering their right to self-determination and their own defined quality of life.  I am consistently guided by the Social Work professional core values and code of ethics but also by my own heart and compassion.  I am pleased to be part of the Soter team that shares in those values and is committed to improving the lives of seniors in the communities in which we live and serve.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-3">
        <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Tracy T.jpg" alt="" style="height: 160px">
      </div>
      <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
        <h3>Tracy Todd, CDP</h3>
        <h6>Los Angeles, CA</h6>
        <h6>Certified Dementia Practitioner</h6>
        <p>Tracy Todd was born in California and graduated College from California State University Sacramento with a Bachelors Degree in Criminal Justice.  After getting married, travelling the world, and having three beautiful children she finally settled in Brevard County, Florida.  As her children got older she went to work for the Department of Children and Families.  For fifteen years she worked with the state on both the children’s services side and the adult protective services side in Brevard County.  She looked into allegations of abuse, neglect, and exploitation of children and seniors.  She dedicated her life to protecting those most vulnerable and eventually served as Brevard County’s acting supervisor.  Tracy saw the ever increasing issue that many seniors needed more support and that they did not know where to turn for information as they aged.  Educating and empowering became her passion… Her experiences and investigations helped Tracy identify numerous community services and resources available to support the various needs that families had.  She then decided to make the switch from DCF to become a part of Soter’s mission.  She became a Certified Dementia Practitioner and now works diligently to help families think outside of the box regarding care needs for themselves and their loved ones.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-3">
        <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Jodie W.jpg" alt="" style="height: 160px">
      </div>
      <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
        <h3>Jodie Williams</h3>
        <h6>Melbourne, FL</h6>
        <h6>Music Therapist and Family Advocate</h6>
        <p>Jodie Williams is a native to Brevard County Florida and is a mother of 2 young adults. Having a passion for music and a love for the elderly, she has almost a decade of experience working as a Music Therapist in countless assisted Living facilities throughout Brevard County, FL.  She deeply connects with seniors and their families, she learns much of history as seen through their lives by listening after a specific song plays that insights an emotion or vivid memory.  Jodie has a knack for connecting with Dementia / Alzheimer’s patients when others can’t, bringing them joy, and inspiring memories through the melodies of their past.
          During her time with the elderly and seeing a great need for assisted-living, as well as families members coming to her desiring guidance in their search for the proper home for their loved one, Jodie became an advocate for finding appropriate senior living.. She felt Soter LLC was the right fit for her as the heart of the company, the integrity it holds and the personalization that is offered, stands above the rest! “It is a very rewarding feeling to be able to help families & walk them through the process of finding just the right assisted-living home for their loved one..”
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-3">
        <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Donna S.jpg" alt="" style="height: 160px">
      </div>
      <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
        <h3>Donna Scott, CDP</h3>
        <h6>Hartford, CT</h6>
        <h6>Certified Dementia Practitioner</h6>
        <p>Donna Scott has lived in the Vero Beach area of Florida for the past 15 years.  She has more than a decade of Healthcare Industry experience across the Indian River County area of Florida stretching from Sebastian to Port St. Lucie.  She has worked in Medicare Skilled Home Healthcare, Skilled Nursing, and Assisted Living.  She joined Soter in 2019 and hasn’t looked back.  Her vast network of relationships in the Indian River County area healthcare community, her positive personality, and her extensive industry work experiences have been a true asset to the families that she has had the opportunity to try and help.  She has been described as “a beacon of light and hope” by families and industry professionals alike.  Donna is currently a Nationally Certified Dementia Practitioner and is here, willing, and able to help… Whatever your specific situation.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-3">
        <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Diane T.jpg" alt="" style="height: 160px">
      </div>
      <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
        <h3>Diane Towry, CDP</h3>
        <h6>Birmingham, AL</h6>
        <h6>Certified Dementia Practitioner</h6>
        <p>Diane joined Soter in October of 2019. She is a native of Alabama, having completed Bachelor Degrees in English and  Political Science from the University of Alabama at Birmingham. While in Alabama, Diane worked as a suicide intervention counselor with the Jefferson County Crisis Center and as a group leader with the Alabama Human Relations Training Network. Shortly after arriving in Florida, Diane worked and travelled internationally as the Director of Marketing for a promotional company overseeing campaigns for Coca-Cola, Mars Candy and Bandai Toys. However, her life’s work has been predominantly in healthcare positions including Medical Staff Coordinator, Credentialing Specialist and Professional Staff Coordinator in three area hospitals. Diane has subsequently worked as a business development director and specialist in diverse healthcare delivery systems. Her scope includes expertise in managed care, acute rehabilitation, sub-acute skilled nursing and rehabilitation, home health, substance use and rehabilitation and private duty. Diane is a member of the Board of Directors of Treasure Coast Advocates for Seniors. Her contribution to Soter is an authentic and sincere commitment to the well-being of seniors.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-3">
        <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Gail F.jpg" alt="" style="height: 160px">
      </div>
      <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
        <h3>Gail Farmer, CDP, RN</h3>
        <h6>Brockport, NY</h6>
        <h6>Registered Nurse / Certified Dementia Practitioner / Care Manager / Certified Trainer</h6>
        <p>Gail has been a Registered Nurse since 1986 where she received her license in Batavia, NY from Genesee College.  Soon after she moved to Florida and became a charge nurse at Rivendell Hospital in Vero Beach, FL.  Over the next few years she continued to advance and took the position as Director of Nursing for the Psychiatric and Chemical Dependency Unit of the CPC at Palm Bay Hospital.  When that unit was closed she moved into a Case Manager position at Sebastian River Medical Center where she stayed for the next 8 years working directly with patients and the community to provide appropriate care once they were discharged from the hospital.  In 2000 she decided to make a career change and spent the next 12 years in the Skilled Nursing Environment as the Director of Admissions for The Palms Rehab and Consulate Healthcare of Melbourne.  She always found herself missing the hospital environment and returned to case management for Kindred Hospital in Melbourne where she worked until 2019.  In 2019 she left Kindred with the idea that she wanted to retire but like many of us she didn’t feel her work was finished… She loves to teach and wanted to use her experience and skillset to train those looking to work in the industry.  In 2019 she joined the Soter Senior Living and Family Advocates team as a Nurse Case Manager and Trainer.  Gail is now certified through the American Safety and Health Institute to teach healthcare professionals Basic Life Support, CPR, and First Aid.  She is a Certified Dementia Practitioner and a phenomenal member of our Soter Family when it comes to helping to assess clinical needs and identify appropriate care in the home, in senior living environments, or across the healthcare continuum in general.  Gail is a true difference maker for families not sure of what to do or where to turn.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-3">
        <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Doris F.jpg" alt="" style="height: 160px">
      </div>
      <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
        <h3>Doris Fields</h3>
        <h6>Sparta, IL</h6>
        <h6>Advocate Coordinator / Paralegal / Office Manager</h6>
        <p>Doris is a semi-retired Paralegal that spent her entire 45 year career as a Paralegal for major Estate Planning and Probate Attorneys in Southern Illinois and Central Florida.  She brings a perspective to the Soter Family that is necessary as questions arise that are not in the scope of our legal understanding.  She lets us know when attorney’s need to be called into situations as they are to complex for us to handle.  Doris handles many of the legal aspects of the Soter organization including contracting, copyrights, Federal trademarks, certifications, and licensing.  We love having Mom around… It’s about family from top to bottom here at Soter!</p>
      </div>
    </div>
  </div>
<% end %>
