<% provide(:title, "Team") %>
<% cache do %>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

    <div class="container info-box">
      <!-- Portfolio Section -->
      <h2  style="text-align: center; color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Meet Our Team</h2>
      <br>
      <div class="row">
        <div class="col-lg-3">
            <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/troy-headshot.jpg" alt="" style="max-height: 300px">
        </div>
        <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
            <h3>Troy Denault</h3>
            <h6>Sparta, IL</h6>
            <h6>President / CEO</h6>
            <h6>Certified Dementia Practitioner</h6>
            <p>Troy is the President and Founder of <strong>Soter Senior Living and Family Advocates</strong>. He’s an experienced leader with demonstrated results working with families needing help across the Health Care Continuum. He’s a dual degree graduate from the University of Florida having earned his Bachelor of Science in Industrial-Organizational Psychology and a Bachelor of Arts degree in Business Administration. During college Troy joined the United States Marine Corp and graduated Officer’s Candidate School in August 1995. Understanding what the WWII, Korea, and Vietnam Veterans have done for our country, partnered with the mindset that “No man is left behind”, inspired him to do more to support aging Veterans and their families. In 2010 he became the President of the Brevard Association of Human Services (BAHS). He reignited BAHS and it became one of the largest networking organizations for Healthcare professionals in Brevard. 2 years later he took a position as the Business Development Director for Brookdale Senior Living in Brevard County and was elected the President of the Brevard Assisted Living Association.  After successfully growing both entities over the next few years he decided to start his own Senior Living and Family Advocacy organization, <strong>Soter Senior Living and Family Advocates</strong>.  His simple mission was, “To be an unbiased resource, to be on the family’s side, to educate and advocate for families needing solutions to the issues that accompany aging.”  With his years of specialized experience in Senior living and Elder Benefits, Troy is one of Florida’s top Senior Living Resources educators.</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-3">
            <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/Denise-LeBlanc-Argue.jpg" alt="" style="max-height: 300px">
        </div>
        <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
            <h3>Denise Argue</h3>
            <h6>Gardner, MA</h6>
            <h6>Family Advocate</h6>
            <h6>CORE Trained</h6>
            <p>Denise earned her Bachelor of Arts degree with a double major in Psychology and Sociology in 1984 from the University of New Brunswick, Canada. She brings with her over 30 years of experience working with seniors in Home Healthcare, Assisted Living, and Skilled Nursing Facility / Rehabilitation Centers. Denise spent over half of her career working as a Social Worker / Care Manager in Brevard County, Florida.  She has also worked in Community Relations and as an Administrator of a Medicare Home Health Agency. In July of 2017 she joined the team at Soter and furthered her education by becoming a CORE Trained Assisted Living Facility Administrator.  With all of her “hands on” experiences and training, Denise is very excited to be aiding seniors and their families with making the right decision the first time.</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-3">
            <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/david-toliver-reduced.jpg" alt="" style="max-height: 300px">
        </div>
        <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
            <h3>Charles "David" Toliver</h3>
            <h6>Fort Wayne, IN</h6>
            <h6>Family Advocate</h6>
            <h6>Certified Dementia Practitioner</h6>
            <p>In 2002, David earned his Certified Nursing Assistant license in Columbia City, Indiana. Shortly after, he and his family moved to the Space Coast of Florida where he started working at Harbor Chase Assisted Living in Vero Beach.  At Harbor Chase he continued his education and acquired his Medication Technician Certification in 2004. David was then asked to join the marketing team as their Move-in Coordinator to help families navigate the many components of transitioning into an Assisted Living community. This opportunity inspired David and eventually let him to become their Director of Sales. His family then decided to start a residential assisted living facility in the Melbourne, Florida area by the name of SALUS. David assisted his family with their new assisted living project helping with the renovation and licensing processes while keeping his position with Harbor Chase.  David joined the Soter Team in 2016 and acquired his Certified Dementia Practitioner Certification in November. David brings more than 15 years of experience in assisting families in senior living and feels “blessed" to have an opportunity to put his years of knowledge to work helping families understand all of the options available to them when a need arises. </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-3">
            <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/geri-headshot-2.jpg" alt="" style="max-height: 300px">
        </div>
        <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
            <h3>Geri Woods</h3>
            <h6>Pittsburgh, PA</h6>
            <h6>Family Advocate</h6>
            <h6>Certified Dementia Practitioner</h6>
            <p>Geri has worked in the senior living industry of Brevard County, FL for more than 11 years. Her experience helping seniors and their families started as a receptionist at Hibiscus Court Assisted Living in 2005. She instantly fell in love with her families and their amazing stories. Her compassion and “can do” attitude to help support them led her to multiple promotions and experiences across a variety of different roles within the Assisted Living Industry. She has been an Activities Director, an Admissions Director, and ultimately a Director of Marketing position with Grand Villa of Melbourne. Once their Memory Care Community opened she found her heart consistently gravitating towards residents and their families battling Memory Care issues. This inspired her to become a Certified Dementia Practitioner in 2015. In February, 2017 Geri joined our family here at Soter and will use her various experiences to educate, empower, and support families trying to make appropriate care decisions for their loved one(s).</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-3">
          <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/dawn.jpg" alt="" style="max-height: 300px">
        </div>
        <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
          <h3>Dawn Murphy Redstone</h3>
          <h6>Champaign, IL</h6>
          <h6>Family Advocate</h6>
          <p>Dawn attended the University of South Florida and brings with her over ten years of law enforcement experience across Georgia and Florida. Dawn served both in road patrol and as a detective specializing in crimes against persons both young and old.  She began her healthcare career working in psychiatry as a Marketing Director in two local hospitals and went on to provide consultative services nationally to a number of small medical hospitals.  She spent seven years as a Patient Relations and HIPPA compliance Director for a local hospital system.  Her passion for helping seniors and their families more closely called her to change from a more corporate role to spending the next six years working in Assisted Living, Memory Care, and Skilled Nursing Facility sales and marketing. Upon learning about Soter Senior Living & Family Advocates and how we uniquely provide support to families in an unbiased manner she felt that this is where she belongs and gives her the best opportunity to utilize all of her experiences to “make a real difference.” She is dedicated and passionate about helping seniors and their families find the right resources, care options, or community to call their forever home.</p>
        </div>
      </div>
    <hr>
    <div class="row">
      <div class="col-lg-3">
        <img class="img-fluid rounded" src="https://cdn.sotercares.com/images/betty.jpg" alt="" style="max-height: 300px">
      </div>
      <div class="col-lg-9" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
        <h3>Betty Myers</h3>
        <h6>Browns Mills, NJ</h6>
        <h6>Family Advocate</h6>
        <p>I was adopted at a very young age from South Korea and lived in New Jersey most of my life before moving to Florida in 2004. My experiences working in the healthcare environment began with a doctor owned start up insurance company, then a medical malpractice company. I found myself wanting to help, first hand, directly with the community. I took a position working in an assisting living community and then transitioned over to a skilled nursing facility (aka. nursing home). I loved learning about the many components and levels of healthcare. Then for almost six years I worked as the Admissions and Marketing Director that covered Indian River and St. Lucie Counties. I learned a great deal about the Acute Healthcare system helping support and care for seniors directly from the hospital. I learned first-hand about insurance coverages, Medicare, Medicaid, and Veteran’s Benefits. Just recently I became a Certified Dementia Practitioner to better support families that have a loved one battling cognitive impairment. I have finally found my calling with Soter Senior Living and Family Advocates. This opportunity is what I have been waiting for and I truly look forward to making a difference in people’s lives.</p>
      </div>
    </div>
  </div>
<% end %>
