<div class="fluid-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><span
        style='font-size:18.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#00426A;text-transform:uppercase'><o:p>&nbsp;</o:p></span></b></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><span
        style='font-size:18.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#00426A;text-transform:uppercase'>SOTER, LLC, SENIOR
LIVING &amp; FAMILY ADVOCATES<o:p></o:p></span></b></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><span
        style='font-size:18.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#00426A;text-transform:uppercase'>TERMS OF USE<o:p></o:p></span></b></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><span
        style='font-size:18.0pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#00426A;text-transform:uppercase'><o:p>&nbsp;</o:p></span></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><span class=SpellE><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>Soter</span></i></span><i style='mso-bidi-font-style:
          normal'><span style='font-size:10.5pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#333333'>, LLC, reserves the
right to change, modify, suspend, or cease providing the Site and/or Services
(and therefore, your access to and use of) at any time without notice.<span
        style='mso-spacerun:yes'>  </span>The Terms of Use apply in regard to access
to, and use of, the Site and/or the Services, so familiarize yourself with the
contents hereof.<span style='mso-spacerun:yes'>  </span>The Site and the
Services are provided by <span class=SpellE>Soter</span>, LLC Senior &amp;
Family Advocates.<span style='mso-spacerun:yes'>  </span>We reserve the right
to modify and/or change the Terms of Use, the Site, and/or the Services at any time.<span
        style='mso-spacerun:yes'>  </span>As hereinabove stated, if we decide to change
our Terms of Use, we will post a new version on the Site and update the date.
Any modifications are effective immediately upon posting of the revisions on
the Site, regardless of whether we provide you with specific notice of such
changes. Your use of the Site and/or the Services following the posting of
changes or modifications to the Terms of Use will constitute your acceptance of
the revised Terms of Use. Therefore, you should review the Terms of Use and
applicable policies from time-to-time to understand the terms and conditions
that apply to your use of the Site and/or Services. If you do not agree to the
amended terms, you must immediately stop using the Site and/or Services.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>These Terms of Use form a legally binding agreement between you
and <span class=SpellE>Soter</span>, LLC in relation to your use of the Site
and/or Services. <span style='mso-spacerun:yes'> </span>The Terms of Use require
that you must be of legal age to enter into a binding contract and not be
prohibited from using the Site and/or Services by the laws of the jurisdiction
from which you access the Site and/or Services.<span style='mso-spacerun:yes'> 
</span>In addition, the Terms of Use do not alter in any way the terms or
conditions of any other agreement you may have with <span class=SpellE>Soter</span>,
LLC for services or otherwise. Your access to, and use of, the Site may also be
subject to any legal notices or additional terms and conditions applicable to
the Site and/or Services. <o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>SERVICES<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>OUR SERVICES ARE OFFERED AT NO CHARGE TO FAMILIES AS THE
PARTICIPATING COMMUNITIES PAY A FEE TO SOTER, LLC.<span
        style='mso-spacerun:yes'>  </span><span class=SpellE>Soter</span>, LLC is a
senior housing and care marketing and information service that provides
resources and personalized assistance in finding senior housing and care. We
help families find options based on a client’s stated needs and preferences and
empower them to make informed decisions. This may include independent living,
home care, residential care homes, assisted living, specialized memory care and
skilled nursing. Based on the client's stated needs and preferences, we provide
the family with information about contracted communities (&quot;Participating
Communities&quot;) and we forward the family's information to those
Participating Communities. Families can review detailed information about local
and national Participating Communities, and get personalized, knowledgeable
assistance by telephone from a local Senior Living Advisor. <o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>CONTENT OF PARTICIPATING COMMUNITIES<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>The individual Participating Community is responsible for the
content of the information posted on its page or on the Site. The information
does not represent our views or any individual associated with us.<span
        style='mso-spacerun:yes'>  </span>We do not vouch for the accuracy or
completeness of any of the information posted by and/or for the Participating
Community on the Site, and do not take any responsibility or assume any
liability for any actions you may take as a result of reading the information
posted by and/or for the Participating Community on the Site. By using the Site
and/or Services, you assume all associated risks.<span
        style='mso-spacerun:yes'>  </span>The Participating Communities are solely
responsible for evaluating, accepting (or declining, as appropriate), and
caring for all residents, including, without limitation, ensuring that their
staff are appropriately qualified, current on education, and possess the necessary
facilities, resources, and equipment to competently provide the services and
care required by its residents. Each Participating Community is responsible for
the conditions at its community and the training of and acts and omissions of
its employees, contractors, vendors, and any other individual who works at or
for a community.<o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>NO professional advice, ENDORSEMENT, AFFILIATION<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>All information, materials, content and/or advice on the Site or
provided through the Services is for informational purposes only and is not
intended to replace or substitute for any professional, financial, medical,
legal or other advice. <span class=SpellE>Soter</span>, LLC expressly
disclaims, and you expressly release <span class=SpellE>Soter</span>, LLC from,
any and all liability concerning any treatment, action by, or effect on any
person following the information offered or provided within or through the Site
and/or Services. We exercise no independent judgment as to the quality of, nor
do we recommend or endorse, any Participating Community. We provide only an
information service and do not perform any medical assessment of or for the
consumer or the Participating Community.<span style='mso-spacerun:yes'> 
</span>It is the responsibility solely of the Participating Community and the
potential resident, and/or the potential resident's family and care provider(s)
and/or other involved parties acting on the potential resident's behalf to
determine if any person is an appropriate admission to the Participating
Community. <span class=SpellE>Soter</span>, LLC does not broker, sell or lease
space directly and is not a party to any transaction between the provider and
the family.<o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>TEXTING/AUTOMATIC TELEPHONE DIALING<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>You agree to be contacted by a <span class=SpellE>Soter</span>,
LLC, senior living advisor and/or by our senior living associates to explore
options at the telephone number you have provided. You agree we, our senior
living partners and other partners may use texting, automatic telephone dialing
systems and technology to contact you by call or text message at the telephone
number provided, even if previously registered on a Do Not Call registry.<o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>PRIVACY AND CONSENT TO COMMUNICATIONS<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>Your privacy is important to us, and we provide a Privacy Policy
that sets out how we collect and use your personal information collected from
the Site. Please review our Privacy Policy to which you should refer to fully
understand how we collect and use personal information; your use of the Site and/or
Services will constitute your acceptance of the terms and conditions of the
Privacy Policy. By filling out any forms on the <span class=SpellE>ite</span>
or providing information to us, you expressly consent to being contacted by us
and/or the Participating Communities, whether by phone, mobile phone, email,
mail or otherwise. If you are a customer or potential customer of the Services,
you authorize us to provide the information that you provided us and related
information we may receive from third parties to Participating Communities for
the purpose of providing Services. Such authorization shall continue in effect
until you have withdrawn your consent by requesting that we no longer provide
you Services; provided that we may continue to refer to and/or disclose your
information when communicating with a Participating Community as necessary for
our normal Participating Community related business practices (such as
Participating Community billing matters) until such matters are closed<o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>Site materials<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>Unless explicitly stated herein, nothing in the Terms of Use
shall be construed as conferring any license to intellectual property rights,
whether by estoppel, implication or otherwise. This license is revocable by <span
        class=SpellE>Soter</span>, LLC at any time.<span style='mso-spacerun:yes'> 
</span>You are granted a limited, non-sublicensable license to access and use
the Site and all content, data, information and materials included in the Site
(the &quot;Site Materials&quot;) solely for your personal use, subject to the
terms and conditions set forth in the Terms of Use. You will not use the Site
or any of the Site Materials other than for their intended purpose or in any
way that is unlawful or harms <span class=SpellE>Soter</span>, LLC. Any use of
the Sites or the Site Materials other than as specifically authorized herein is
strictly prohibited and, without limiting other available remedies, will
automatically and immediately terminate the license granted herein. Such
unauthorized use may also violate applicable laws including without limitation
copyright and trademark laws and applicable communications regulations and
statutes. <o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>SECURITY<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>On certain portions of the Site, you will be provided with a
password and user identification to use the Site. You must agree to abide by
these Site Terms and are responsible for all activity under such user identification.
You are responsible for maintaining the confidentiality and security of any
password connected with your account.<o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>ACCESS<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>The following are examples of some actions and activities that
are prohibited by you in accessing and/or using the Site and/or Services, and
you agree not to do any of the following:<o:p></o:p></span></i></p>

      <p class=MsoListParagraphCxSpFirst style='margin-bottom:15.0pt;mso-add-space:
          auto;text-indent:-.25in;line-height:normal;mso-list:l0 level1 lfo1;tab-stops:
          list .5in;vertical-align:baseline'><![if !supportLists]><i style='mso-bidi-font-style:
          normal'><span style='font-size:10.0pt;mso-bidi-font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:Arial;color:#333333'><span
        style='mso-list:Ignore'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><![endif]><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>Using the Sites for commercial purposes.<o:p></o:p></span></i></p>

      <p class=MsoListParagraphCxSpMiddle style='margin-bottom:3.75pt;mso-add-space:
          auto;text-indent:-.25in;line-height:normal;mso-list:l0 level1 lfo1;tab-stops:
          list .5in;vertical-align:baseline'><![if !supportLists]><i style='mso-bidi-font-style:
          normal'><span style='font-size:10.0pt;mso-bidi-font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:Arial;color:#333333'><span
        style='mso-list:Ignore'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><![endif]><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>Conducting or promoting any illegal activities
while using the Site or Services.<o:p></o:p></span></i></p>

      <p class=MsoListParagraphCxSpLast style='margin-bottom:3.75pt;mso-add-space:
          auto;text-indent:-.25in;line-height:normal;mso-list:l0 level1 lfo1;tab-stops:
          list .5in;vertical-align:baseline'><![if !supportLists]><i style='mso-bidi-font-style:
          normal'><span style='font-size:10.0pt;mso-bidi-font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:Arial;color:#333333'><span
        style='mso-list:Ignore'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><![endif]><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>Uploading or attempting to upload or otherwise
transferring any virus, worm, trap door, back door, Trojan horse, timer, clock,
counter, or other limiting or malicious routine, instruction, or design that
would cause harm to the Site, <span class=SpellE>Soter</span>, LLC’s computer and/or
telecommunication systems or data.<o:p></o:p></span></i></p>

      <ol style='margin-top:0in' start=4 type=1>
        <li class=MsoNormal style='color:#333333;margin-bottom:3.75pt;line-height:
            normal;mso-list:l0 level1 lfo1;tab-stops:list .5in;vertical-align:baseline'><i
          style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
            font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman"'>Interfering
     in any way with the proper functioning of the Site (including harming,
     disabling, or significantly slowing) or interfering with or disrupting any
     servers or networks connected to the Site, or disobeying any requirements,
     procedures, policies or regulations of networks connected to the Sites.<o:p></o:p></span></i></li>
        <li class=MsoNormal style='color:#333333;margin-bottom:3.75pt;line-height:
            normal;mso-list:l0 level1 lfo1;tab-stops:list .5in;vertical-align:baseline'><i
          style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
            font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman"'>Modifying,
     copying, distributing, reselling, transmitting, displaying, performing,
     reproducing, publishing, licensing, creating derivative works from,
     framing in another web page, and/or using on any other Web site or service
     any of the Site content.<o:p></o:p></span></i></li>
        <li class=MsoNormal style='color:#333333;margin-bottom:3.75pt;line-height:
            normal;mso-list:l0 level1 lfo1;tab-stops:list .5in;vertical-align:baseline'><i
          style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
            font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman"'>Engaging
     in the practices of &quot;screen scraping,&quot; &quot;database
     scraping,&quot; &quot;data mining&quot; or any other activity with the
     purpose of obtaining lists of users or other information, in whole or in
     part, from the Site or use web &quot;bots&quot; or similar data gathering
     or extraction methods for such purposes.<o:p></o:p></span></i></li>
        <li class=MsoNormal style='color:#333333;margin-bottom:3.75pt;line-height:
            normal;mso-list:l0 level1 lfo1;tab-stops:list .5in;vertical-align:baseline'><i
          style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
            font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman"'>Attempting
     to reverse engineer or jeopardize the correct functioning of the Site, or
     otherwise attempting to derive the source code of the software (including
     the tools, methods, processes, and infrastructure) that enables or
     underlies the Site;<o:p></o:p></span></i></li>
        <li class=MsoNormal style='color:#333333;margin-bottom:3.75pt;line-height:
            normal;mso-list:l0 level1 lfo1;tab-stops:list .5in;vertical-align:baseline'><i
          style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
            font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman"'>Attempting
     to gain access to secured portions of the Site.<o:p></o:p></span></i></li>
        <li class=MsoNormal style='color:#333333;margin-bottom:3.75pt;line-height:
            normal;mso-list:l0 level1 lfo1;tab-stops:list .5in;vertical-align:baseline'><i
          style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
            font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman"'>Circumventing,
     attempting to circumvent, disabling, or attempting to disable, or discovering
     or attempting to discover any security measures (including without
     limitation encryption algorithms, keys, passwords, and the like) used by
     or for <span class=SpellE>Soter</span>, LLC to protect its computer and/or
     telecommunications systems.<o:p></o:p></span></i></li>
        <li class=MsoNormal style='color:#333333;margin-bottom:3.75pt;line-height:
            normal;mso-list:l0 level1 lfo1;tab-stops:list .5in;vertical-align:baseline'><i
          style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
            font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman"'>Using
     the Site and/or Services to generate unsolicited email advertisements or
     spam; and/or allowing, enabling, or otherwise supporting the transmission
     of mass unsolicited, commercial advertising or solicitations via e-mail
     (spam).<o:p></o:p></span></i></li>
        <li class=MsoNormal style='color:#333333;margin-bottom:3.75pt;line-height:
            normal;mso-list:l0 level1 lfo1;tab-stops:list .5in;vertical-align:baseline'><i
          style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
            font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman"'>Using
     the Site and/or Services to stalk, harass or harm another individual.<o:p></o:p></span></i></li>
        <li class=MsoNormal style='color:#333333;margin-bottom:3.75pt;line-height:
            normal;mso-list:l0 level1 lfo1;tab-stops:list .5in;vertical-align:baseline'><i
          style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
            font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman"'>Impersonating
     any person or entity, or otherwise misrepresenting your affiliation with a
     person or entity; or<o:p></o:p></span></i></li>
        <li class=MsoNormal style='color:#333333;margin-bottom:3.75pt;line-height:
            normal;mso-list:l0 level1 lfo1;tab-stops:list .5in;vertical-align:baseline'><i
          style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
            font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman"'>Uploading,
     distributing or printing anything that may be harmful to minors.<o:p></o:p></span></i></li>
        <li class=MsoNormal style='color:#333333;margin-bottom:3.75pt;line-height:
            normal;mso-list:l0 level1 lfo1;tab-stops:list .5in;vertical-align:baseline'><i
          style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
            font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman"'>Mirroring
     or framing the Site, placing pop-up windows over its pages, or otherwise
     affecting the display of its pages.<o:p></o:p></span></i></li>
        <li class=MsoNormal style='color:#00426A;margin-bottom:7.5pt;line-height:normal;
            mso-outline-level:2;mso-list:l0 level1 lfo1;tab-stops:list .5in;
            vertical-align:baseline'><i style='mso-bidi-font-style:normal'><span
          style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
              "Times New Roman";color:#333333'>Engaging in any other action in any way
     that is unlawful or harms SOTER, LLC.</span></i><b><i style='mso-bidi-font-style:
            normal'><span style='font-size:18.0pt;font-family:"Arial",sans-serif;
            mso-fareast-font-family:"Times New Roman";text-transform:uppercase'><o:p></o:p></span></i></b></li>
      </ol>

      <p class=MsoNormal style='margin-bottom:7.5pt;line-height:normal;mso-outline-level:
          2;vertical-align:baseline'><b><i style='mso-bidi-font-style:normal'><span
        style='font-size:13.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#00426A;text-transform:uppercase'><o:p>&nbsp;</o:p></span></i></b></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>INTELLECTUAL PROPERTY<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>All trademarks, service marks, and trade names are proprietary
to <span class=SpellE>Soter</span>, LLC. <span
        style='mso-spacerun:yes'> </span>All rights, title, and interests in and to the
Site, including content, materials, trademarks and other intellectual property
contained in the Site, vest solely in <span class=SpellE>Soter</span>, LLC. <span
        style='mso-spacerun:yes'> </span>The <span class=SpellE>Soter</span>, LLC name,
and any <span class=SpellE>Soter</span>, LLC products and services, slogans or
logos referenced herein on the Site may be trademarks or registered trademarks
of <span class=SpellE>Soter</span>, LLC, in the State of Florida and/or the United
States and/or other countries. The names of actual third party companies and
products mentioned in the Site may be the trademarks of their respective
owners. Any rights not expressly granted herein are reserved.<o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>EXTERNAL WEB SITES<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>Our Site may provide links to other external Web sites
(&quot;External Web Site&quot;). We provide these links to External Web Site
for your convenience only. We do not control such External Web Site; therefore,
<span class=SpellE>Soter</span>, LLC is not responsible for the content of any
linked site or any link contained in a linked site. Our inclusion of links to
such External Web Site does not imply any endorsement of any such third party
who advertises their goods or services through the Site (including
Participating Communities). We make no claim or representation regarding, and
accept no responsibility for, the quality, content, nature or reliability of
External Web Sites.<span style='mso-spacerun:yes'>  </span>When you leave the
Site, you should be aware that our Terms of Use and our Privacy Policy do not
apply to your use of External Web Site. You should review the applicable terms
and policies, including privacy and data gathering practices, of any External
Web Site to which you navigate from the Site. Your use of and dealings with the
owners or operators of these External Web Site are at your own risk, and you
agree not to make any claim against <span class=SpellE>Soter</span>, LLC
arising out of your use of these External Web Sites.<o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>THIRD PARTiES<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>You should investigate and use your independent judgment
regarding the merits, quality and reputation of any Third Party Products and
Services that you find on or through the Sites.<span style='mso-spacerun:yes'> 
</span>We may run advertisements and promotions from third parties (including
Participating Communities) on the Sites or may otherwise provide information
about or links or referrals to third-party (including Participating
Communities) products or services on the Site (&quot;Third Party Products and
Services&quot;). We do not make any guarantees about the accuracy, currency,
suitability, or quality of the information about such Third Party Products and
Services, and we assume no responsibility for unintended, objectionable,
inaccurate, misleading, or unlawful content made available by Third Party
Products and Services. Because we do not control such Third Party Products and
Services, we are not responsible or liable for any loss or damage of any sort
incurred as the result of any such dealings or promotions or from any Third
Party Products and Services, and you use such Third Party Products and Services
at your own risk.<span style='mso-spacerun:yes'>  </span>Your business dealings
or correspondence with, or participation in promotions of, such Third Party
Products and Services, and any terms, conditions, warranties or representations
associated with such dealings or promotions are solely between you and such
third party.<o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>submissions/PUBLIC AREAS<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>If you author or co-author a Submission, you warrant that you
will not post any materials that would (a) encourage conduct that would
constitute a criminal offense, give rise to civil liability or otherwise
violate any local, state, national or international law, including any
threatening, libelous, defamatory, obscene, vulgar, pornographic, profane or
indecent messages of any kind; (b) violate or infringe upon the rights of
others, including their privacy or publicity rights, or which is protected by
copyright, trademark or other proprietary rights, without first obtaining
permission from the person who owns or holds that right; (c) contain a virus or
other material of a destructive nature; and (d) violate any law, statute,
ordinance or regulation including but not limited to misrepresentation, fraud,
deception, anti-discrimination, and/or false advertising.<span
        style='mso-spacerun:yes'>  </span>If you use a &quot;Public Area&quot;, such as
the message board, or other community area that allows user posts, additional
terms and conditions apply to you. You agree that any materials, including but
not limited to questions, comments, suggestions, ideas, plans, notes, drawings,
original or creative materials or other information regarding <span
        class=SpellE>Soter</span>, LLC, the Site, and/or the Services, provided by you
in any manner including but not limited to e-mail, other written, or oral
submissions to <span class=SpellE>Soter</span>, LLC, or postings on the Site
(&quot;Submissions&quot;), are non-confidential. We are entitled to the
unrestricted use, dissemination, distribution, display, reproduction,
sublicense, post, and/or publication of the Submissions for any purpose,
commercial or otherwise, without acknowledgment or compensation to you, and we
will own the exclusive rights, including all intellectual property rights, to
the Submissions.<span style='mso-spacerun:yes'>  </span>Additional terms and
conditions may apply to you in your use of the &quot;Public Area&quot;, the
Eldercare Forum, message board, or other community area.<o:p></o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>JURY TRIAL WAIVER<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>You expressly acknowledge that this provision is an essential
aspect of the bargain embodied by the Terms of Use. You hereby knowingly,
irrevocably and voluntarily waive your rights to a jury trial of any claim or
cause of action based upon, arising out of, or in any manner relating to the
terms of use and/or <span class=SpellE>Soter</span>, LLC’s performance or
failure to perform hereunder.<span style='mso-spacerun:yes'>  </span>This
waiver is intended to be all-encompassing and shall apply to any and all claims
arising under federal law or any states' laws and that arise from or relate in
any way to the subject matter of the Terms of Use and/or our performance,
including, without limitation, contract, tort, and all other statutory or
common law claims seeking equitable or legal relief, whether asserted as a
cause of action, counterclaim, cross-claim, affirmative defense, or otherwise,
and whether asserted on an individual basis or as putative representative of a
class. If a court decides that this “Jury Trial Waiver” subsection is not
enforceable, then this Section shall cease to have effect, however, the
remaining portions of the Terms of Use will remain in full force and effect.</span></i><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'><o:p></o:p></span></i></b></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>class actions and ARBITRATION CLAIMS<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>For disputes arising between <span class=SpellE>Soter</span>,
LLC and you, or any other user, you and we agree that we can only bring a claim
against each other on an individual basis. <span
        style='mso-spacerun:yes'> </span>Neither you nor we can bring a claim as a
Plaintiff or class member in a class action, representative action, or
consolidated action. If a court decides that this “Class Action Waiver”
subsection is not enforceable or is invalid, then this Section shall cease to
have effect, however, the remaining portions of the Terms of Use will remain in
full force and effect.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>Subject to and without limiting the Governing Law and forum
selection, you expressly agree that any claim or cause of action that arises
from, relates to, or has connection with the Site and/or Services be
adjudicated exclusively and finally by arbitration.<span
        style='mso-spacerun:yes'>  </span>The arbitration award shall be final and
binding, and judgment on the award rendered by the arbitrator(s) may be entered
in any court having jurisdiction thereof. Except as required by applicable law,
you knowingly, voluntarily, intelligently, and irrevocably waive any right to
appeal from the arbitration award, including but not limited to any appeal from
any judgment entered on the arbitration award or any order based thereupon. <o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>YOU EXPRESSLY AGREE THAT ANY CLAIM OR CAUSE OF ACTION THAT IS
SUBJECT TO ARBITRATION UNDER THE TERMS OF USE MUST BE BROUGHT IN YOUR
INDIVIDUAL CAPACITY, AND NOT AS A PLAINIFF OR CLASS MEMBER IN ANY PURPORTED CLASS
OR REPRESENTATIVE PROCEEDING.<span style='mso-spacerun:yes'>  </span>YOU
FURTHER EXPRESSLY AGREE THAT THE ARBITRATOR SHALL NOT CONSOLIDATE MORE THAN ONE
PERSON’S CLASS PROCEEDING.<span style='mso-spacerun:yes'>  </span>If the Court
decides that this “Mandatory and Binding Arbitration” subsection is not
enforceable or is invalid, then this Section shall cease to have effect;
however, the remaining portions of the Terms of Use will remain in full force
and effect.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>COPYRIGHT INFRINGEMENT<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>If you believe in good faith that materials hosted by us
infringe your copyright, you (or your agent) may send us a written notice at <span
        class=SpellE>Soter</span>, LLC, 2197 Julian Avenue N.E., Palm Bay, FL<span
        style='mso-spacerun:yes'>  </span><span class=GramE>32905,<span
        style='mso-spacerun:yes'>  </span>that</span> includes the following
information. Please note that we will not process your complaint if it is not
properly filled out or is incomplete. Any misrepresentations in your notice
whether content or activity is infringing may expose you to liability for
damages.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:3.75pt;
          margin-left:.25in;text-indent:-.25in;line-height:normal;mso-list:l1 level1 lfo2;
          tab-stops:list .5in;vertical-align:baseline'><![if !supportLists]><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:Arial;color:#333333'><span
        style='mso-list:Ignore'>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><![endif]><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>Exact identification of the copyrighted work
you claim was infringed<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:3.75pt;
          margin-left:.25in;text-indent:-.25in;line-height:normal;mso-list:l1 level1 lfo2;
          tab-stops:list .5in;vertical-align:baseline'><![if !supportLists]><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:Arial;color:#333333'><span
        style='mso-list:Ignore'>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><![endif]><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>A clear identification of the material you
claim is infringing on the Website, such as a link to the infringing material.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:3.75pt;
          margin-left:.25in;text-indent:-.25in;line-height:normal;mso-list:l1 level1 lfo2;
          tab-stops:list .5in;vertical-align:baseline'><![if !supportLists]><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:Arial;color:#333333'><span
        style='mso-list:Ignore'>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><![endif]><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>Your address, email address and telephone
number.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:3.75pt;
          margin-left:.25in;text-indent:-.25in;line-height:normal;mso-list:l1 level1 lfo2;
          tab-stops:list .5in;vertical-align:baseline'><![if !supportLists]><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:Arial;color:#333333'><span
        style='mso-list:Ignore'>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><![endif]><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>A statement that you have a ''good faith
belief that the material that is claimed as copyright infringement is not
authorized by the copyright owner, its agent, or the law.''<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:3.75pt;
          margin-left:.25in;text-indent:-.25in;line-height:normal;mso-list:l1 level1 lfo2;
          tab-stops:list .5in;vertical-align:baseline'><![if !supportLists]><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:Arial;color:#333333'><span
        style='mso-list:Ignore'>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><![endif]><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>A statement that ''the information in the
notification is accurate, and under penalty of perjury, the complaining party
is authorized to act on behalf of the owner of an exclusive right that is
allegedly infringed''<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:3.75pt;
          margin-left:.25in;text-indent:-.25in;line-height:normal;mso-list:l1 level1 lfo2;
          tab-stops:list .5in;vertical-align:baseline'><![if !supportLists]><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:Arial;color:#333333'><span
        style='mso-list:Ignore'>6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span></i><![endif]><i style='mso-bidi-font-style:normal'><span
        style='font-size:10.5pt;font-family:"Arial",sans-serif;mso-fareast-font-family:
            "Times New Roman";color:#333333'>A signature by the person authorized to act on
behalf of the owner of an exclusive right that is allegedly infringed.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
          margin-left:.25in;margin-bottom:.0001pt;line-height:normal;vertical-align:baseline'><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "inherit",serif;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
          Arial;color:#333333'><br>
You may send your notice by email to info@sotercares.com, or by using the
contact information herein.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
          margin-left:.25in;margin-bottom:.0001pt;line-height:normal;vertical-align:baseline'><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "inherit",serif;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
          Arial;color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
          margin-left:.25in;margin-bottom:.0001pt;line-height:normal;vertical-align:baseline'><i
        style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;font-family:
          "inherit",serif;mso-fareast-font-family:"Times New Roman";mso-bidi-font-family:
          Arial;color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>DISCLAIMER<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>THE SITE AND THE SITE MATERIALS (INCLUDING ALL THIRD PARTY
CONTENT), AND ALL LINKS, INFORMATION, MATERIALS, EVALUATIONS, RECOMMENDATIONS,
SERVICES AND PRODUCTS PROVIDED ON OR THROUGH THE SITE ARE PROVIDED ON AN
&quot;AS IS&quot; BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR
IMPLIED. YOU EXPRESSLY AGREE THAT USE OF THE SITES AND THE MATERIALS IS AT YOUR
SOLE RISK. <span style='mso-spacerun:yes'> </span>SOTER, LLC, AND ITS
ASSOCIATED PARTIES (DEFINED AS AFFILIATES, SUCCESSORS, OFFICERS, DIRECTORS,
SHAREHOLDERS, PERSONAL REPRESENTATIVES, AGENTS, AND EMPLOYEES) DISCLAIM ALL
WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED
WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND
NON-INFRINGEMENT AS TO THE SITES, THE SITE MATERIALS, LINKS, INFORMATION,
MATERIALS, SERVICES AND PRODUCTS AVAILABLE ON OR THROUGH ON THE SITES AND/OR
SERVICES. IN ADDITION, SOTER, LLC IS NOT RESPONSIBLE FOR THE PRODUCTS OR
SERVICES PROVIDED BY, OR THE CONDUCT OF, ANY THIRD PARTY OR ITS AGENTS OR
EMPLOYEES (EVEN IF WE HAVE INTRODUCED YOU TO SUCH PARTY OR PARTIES), INCLUDING
WITHOUT LIMITATION, ANY PARTICIPATING COMMUNITY OR OTHER HEALTH CARE AND/OR ANY
OTHER SENIOR HOUSING AND CARE PROVIDER, WHETHER OFFLINE OR ONLINE. NO ORAL OR
WRITTEN INFORMATION FROM SOTER, LLC OR ANY OTHER PARTY WILL MODIFY THIS
DISCLAIMER. SOTER, LLC EXPRESSLY DISCLAIMS ANY REPRESENTATIONS, WARRANTIES OR
COVENANTS THAT THE MATERIALS ON THE SITES ARE ACCURATE, COMPLETE, RELIABLE,
CURRENT, OR ERROR-FREE. WHILE WE ATTEMPT TO PROVIDE YOU ACCESS SAFE FROM
VIRUSES, SOTER, LLC DOES NOT REPRESENT, WARRANT OR COVENANT THAT THE SITES OR
ITS SERVER(S) ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. IN NO EVENT
SHALL SOTER, LLC BE LIABLE TO USER FOR ANY OF THE PRODUCTS, SERVICES, CONTENT
OR INFORMATION PROVIDED THROUGH THE SITES OR OTHERWISE PROVIDED BY OR ON BEHALF
OF SOTER, LLC.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>LIABILITY LIMITATION<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT
WILL SOTER, LLC OR THE ASSOCIATED PARTIES BE LIABLE FOR ANY DIRECT, SPECIAL,
PUNITIVE, EXEMPLARY, INCIDENTAL, INDIRECT, CONSEQUENTIAL DAMAGES, OR ANY OTHER
DAMAGES OF ANY KIND WHATSOEVER, INCLUDING BUT NOT LIMITED TO LOSS OF USE, LOSS
OF PROFITS, OR LOSS OF DATA OR OTHER INFORMATION, FOR BUSINESS INTERRUPTION,
AND FOR ANY OTHER PECUNIARY OR OTHER LOSS WHATSOEVER) ARISING OUT OF OR IN ANY
WAY RELATED TO THE SITES AND/OR SERVICES, OUR ACTS OR OMMISSIONS UNDER OR IN
ANY WAY RELATED TO THE SITES AND/OR SERVICES, OR OTHERWISE UNDER OR IN
CONNECTION WITH THE SITES AND/OR SERVICES, REGARDLESS OF THE LEGAL THEORY
INCLUDING WITHOUT LIMITATION TORT, STRICT LIABILITY, BREACH OF CONTRACT OR
BREACH OF WARRANTY BY US OR ANY ASSOCIATED PARTY, AND EVEN IF WE HAVE BEEN
ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATIONS,
EXCLUSIONS AND DISCLAIMERS OF THIS &quot;LIMITATION OF LIABILITY&quot; SECTION
SHALL APPLY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, EVEN IF ANY
REMEDY FAILS ITS ESSENTIAL PURPOSE. SOME JURISDICTIONS (SUCH AS WASHINGTON
STATE) DO NOT ALLOW THE EXCLUSION OR LIMITATION OF CONSEQUENTIAL OR INDIRECT
DAMAGES, SO THE ABOVE LIMITATION MAY NOT APPLY TO YOU.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>HOLD HARMLESS and termination<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>You agree to indemnify and hold <span class=SpellE>Soter</span>,
LLC and any Associated Parties harmless from any claim or demand, including
attorneys' fees, arising out of your use of the Site and/or the Services or
your violation of our Terms of Use, or the infringement by you of any
intellectual property or other right of any person or entity.<span
        style='mso-spacerun:yes'>  </span>We may terminate or suspend your access to
the Site at any time, with or without cause, and with or without notice. Upon
such termination or suspension, your right to use the Site will immediately
cease.<o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-bottom:7.5pt;text-align:center;
          line-height:normal;mso-outline-level:2;vertical-align:baseline'><b><i
        style='mso-bidi-font-style:normal'><span style='font-size:13.5pt;font-family:
          "Arial",sans-serif;mso-fareast-font-family:"Times New Roman";color:#00426A;
          text-transform:uppercase'>GOVERNING LAW<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>These Terms of Use are construed under the laws of the State of
Florida. You agree that any action at law or in equity arising out of or
relating to the Sites and/or Services can be filed only and exclusively in a
state or federal court located in the State of Florida.<span
        style='mso-spacerun:yes'>  </span>Further, you hereby irrevocably consent and
submit to the exclusive jurisdiction and venue of such courts over any suit,
action or proceeding arising out of the Site and/or Services. You hereby
knowingly, voluntarily, and irrevocably waive any available affirmative defenses
under federal law or state law.<span style='mso-spacerun:yes'>  </span>To the
extent that notice is required under any applicable law or otherwise, you waive
the right to such notice, provided that this sentence will not apply to you if
you are a resident of, are seeking services in, Washington State.<span
        style='mso-spacerun:yes'>   </span>You further agree that this governing law clause
shall apply to any and all claims under federal law or any states' laws and
that arise from or relate in any way to the Site and/or Services, including,
without limitation, contract, tort, and all other statutory or common law
claims seeking equitable or legal relief, whether asserted as a cause of
action, counterclaim, cross-claim, affirmative defense, or otherwise, and
whether asserted on an individual basis or as putative representative of a
class. <o:p></o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoNormal align=center style='margin-top:0in;margin-right:0in;
          margin-bottom:7.5pt;margin-left:.25in;text-align:center;line-height:normal;
          mso-outline-level:2;vertical-align:baseline'><b><i style='mso-bidi-font-style:
          normal'><span style='font-size:13.5pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'>GENERAL
TERMS<o:p></o:p></span></i></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>If any part of the Terms of Use is determined to be invalid or
unenforceable pursuant to applicable law, then the invalid or unenforceable
provision will be deemed superseded by a valid, enforceable provision that most
closely matches the intent of the original provision and the remainder of the
Terms of Use will continue in effect. You may not assign the Terms of Use, or
assign, transfer or sublicense your rights, if any, in the Site. Except as
expressly stated herein, the Terms of Use constitute the entire agreement
between you and <span class=SpellE>Soter</span>, LLC with respect to the Site.</span></i><b><span
        style='font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
            color:#00426A;text-transform:uppercase'><o:p></o:p></span></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'>BY ACCESSING OR USING THE SITE, YOU AGREE TO BE BOUND BY THE
TERMS OF USE AND ALL TERMS INCORPORATED HEREIN BY REFERENCE. <span
        style='mso-spacerun:yes'>  </span>IF YOU DO NOT AGREE TO THE TERMS OF USE, DO
NOT USE THE SITE AND/OR THE SERVICES.<span style='mso-spacerun:yes'>  </span>YOUR
USE OF THIS WEB SITE AS WELL AS ANY OTHER WEB SITES OWNED AND/OR OPERATED BY SOTER,
LLC, SENIOR LIVING &amp; FAMILY ADVOCATES (INDIVIDUALLY AND COLLECTIVELY,
&quot;SITE&quot; OR &quot;SITES&quot;) AND/OR THE SERVICES PROVIDED BY SOTER,
LLC, THROUGH OR IN CONNECTION WITH THE SITE (INCLUDING SENIOR HOUSING AND
INFORMATION SERVICES (&quot;SERVICES&quot;) IS CONDITIONED UPON YOUR ACCEPTANCE
OF THESE TERMS OF USE WITHOUT MODIFICATION. <span
        style='mso-spacerun:yes'>  </span>PLEASE READ THE TERMS AND CONDITIONS OF USE
(&quot;TERMS OF USE&quot;) CAREFULLY. <span
        style='mso-spacerun:yes'> </span>PLEASE NOTE THAT SUCH TERMS OF USE CONTAIN A
MANDATORY AND BINDING ARBITRATION CLAUSE, A WAIVER OF RIGHT TO JURY TRIAL, AND
A CLASS ACTION WAIVER, WHICH AFFECT YOUR RIGHTS ABOUT RESOLVING ANY DISPUTE
WITH SOTER, LLC. <span style='mso-spacerun:yes'>  </span></span></i><b><span
        style='font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
            color:#00426A;text-transform:uppercase'><o:p></o:p></span></b></p>

      <p class=MsoNormal style='margin-bottom:7.5pt;line-height:normal;mso-outline-level:
          2;vertical-align:baseline'><b><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A;text-transform:uppercase'>(EFFECTIVE
</span></b><b><span style='font-size:9.0pt;font-family:"Arial",sans-serif;
          mso-fareast-font-family:"Times New Roman";color:#00426A'>APRIL,<span
        style='text-transform:uppercase'> 2018)<o:p></o:p></span></span></b></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><o:p>&nbsp;</o:p></span></i></p>

      <p class=MsoNormal style='margin-bottom:15.0pt;line-height:normal;vertical-align:
          baseline'><i style='mso-bidi-font-style:normal'><span style='font-size:10.5pt;
          font-family:"Arial",sans-serif;mso-fareast-font-family:"Times New Roman";
          color:#333333'><o:p>&nbsp;</o:p></span></i></p>
    </div>
  </div>
</div>
