<% provide(:title, "Home") %>
<% cache do %>
  <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
      <div class="container info-box">
        <h2  style="text-align: center; color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">Testimonials</h2>
        <div class="testimonial">
          <p style="color: #999999"><i class="fa fa-quote-left"></i>
            <em>I wish to take this time to write a few words in regards to your employee, Dawn Redstone. Dawn was a
              tremendous help to me in locating a facility for my sister to be placed in a senior home for Independent living. Dawn spent many
              hours with me and helped me make a very informative decision. Without Dawn’s help, I would probably not complete the
              task. Dawn is very professional on every level and never once showed any agitation to hurry me up and complete
              the task. I would highly recommend her and if I need help in the future, she would certainly be the first choice to
              contact.</em></p>
          <h4 style="text-align: right"> - Joan Jones</h4>
        </div>
        <br>
        <div class="testimonial">
          <p style="color: #999999"><i class="fa fa-quote-left"></i>
            <em>I wanted you to know how wonderful Betty Myers is and what a terrific help she was to me and my brother
              when we needed help finding a place for our Mom. After Mom went through a very traumatic brain surgery, it
              became quite clear that we needed to find an Assisted Living Facility for our mother to live. Betty was referred to us via word of mouth and came
              highly recommended. Now we know why. Not only did Betty find places based on Mom’s financial ability but more importantly on what would be most
              compatible for Mom and her personality. She took us on numerous visits and made numerous suggestions.
              Betty went to visit Mom Her first week at Grand Villa of Melbourne to see how she was adjusting and
              brought her a beautiful Calla Lily. Betty was and still is only a phone call away. I am so grateful for
              all the help we received and would recommend Betty and Soter, LLC as would my brother.

              Thank you so Very Much.

              </em></p>
          <h4 style="text-align: right"> - Lori Burke and John Burke</h4>
        </div>
        <br>
        <div class="testimonial">
            <p style="color: #999999"><i class="fa fa-quote-left"></i> <em>When my eighty-six year old mother needed a safe and caring place to live, Geri Woods, CDP with Soter, stepped in and facilitated a seamless transition from home to Brookdale Senior Living.  Geri displayed a highly skilled and compassionate approach to helping my mom see the many benefits such a community had to offer.  As a certified dementia practitioner, Geri was able to proficiently guide my mother to a facility which would best meet her needs. 
              On the day of admission, Geri coordinated a multidisciplinary team meeting with the staff at Brookdale. Geri, my mom, and myself all attended and  my mom was able to participate in the  decision making process regarding her care. Not only was Geri able to accomplish the transition from home to Brookdale in only two days, she continues to be supportive to my mom and me throughout our adjustment to this new way of life. She ensures that my mom continues to "have her voice"  and is always available to discuss with her any concerns she may have. 
              I highly recommend Geri Woods, CDP. She is intelligent, compassionate, and creative in her approach to problem solving. I only wish there were more than five stars I could award Geri because she is a truly gifted family advocate.</em> </p>
            <h4 style="text-align: right"> - Susan</h4>
            <h6 style="text-align: right">Melbourne, FL</h6>
        </div>
        <br>
        <div class="testimonial">
            <p style="color: #999999"><i class="fa fa-quote-left"></i> <em>On July 31st, I was told that my father could no longer live at the Assisted Living community where he had been a resident since January of this year. The community was just too large for my father and his dementia was progressing.  I reached out to Soter on advice from a member of the Department of Children and Families and they came to my father’s rescue.  In just a few days the team at Soter found a loving, warm, smaller community for my father. A senior living facility that is actually more of a family focused environment where my dad can get the attention he needs but also contribute. 
              The team at Soter assisted with all the logistics of getting my father moved.  They supported me with all of my concerns at a distance as I am in Virginia and my dad is in Florida.  They guided me through the process of requesting Long term Medicaid and more over they physically moved my fathers’ belongings from his previous community to his new home.
              Soter is the most professional organization I have worked with over the last few years. They are not only professional, but they are very caring of the entire family.  Not only are they focused and responsive, but they have expertise in the field of dementia.  Geri and Troy are outstanding people, and I really can’t say enough about their assistance.
              I highly recommend the company.</em> </p>
            <h4 style="text-align: right"> - Jody</h4>
            <h6 style="text-align: right">Richmond, VA</h6>
        </div>
        <br>
        <div class="testimonial">
            <p style="color: #999999"><i class="fa fa-quote-left"></i> <em>Just a quick message to thank you, Troy, for your help and encouragement.
                When my mother needed to enter an Assisted Living Facility from Rehab, I didn’t know
                what to do.  You were recommended by a reliable source and I’m so glad I called.
                The help and encouragement you gave me were invaluable.  I received knowledge
                on how to navigate through a journey of tough decisions and confusing paper work.
                Always caring, always supportive, the care and guidance you gave were such a blessing
                to me!  You were there when I needed help.  Thank you!  </em> </p>
            <h4 style="text-align: right"> - Diane</h4>
        </div>
        <br>
        <div class="testimonial">
            <p style="color: #999999"><i class="fa fa-quote-left"></i> <em>The Health First Aging Institute recommended we contact Troy Denault for assistance with finding the Assisted Living Home for my Mom after realizing we could no longer care for her in the home. This has turned out to be one of the most important referrals we have received and the most positive experience in such a difficult time in all of our lives including our Mom's.
              Troy was professional, compassionate and listened to our needs and desires for our Mom and proceeded to take us on tours of facilities till we found the one we thought would be best for our Mom.
              He is responsive and we honestly could not have done this without him. He is unbiased as he operates on a flat fee from whatever facility you choose and not a percentage which works out to be no cost to you. He is in your corner and just wants what fits for you and your loved one. 
              Our family recommends him without reservation and you can trust him as he guides you thru this process.</em> </p>
            <h4 style="text-align: right"> - The Chapman Family</h4>
        </div>
      </div>

<% end %>
