<table class="table table-condensed ero-table">
          <tr style='font-weight: bold'>
            <td>Community</td>
            <td>Result</td>
          </tr>
        
        <% @contact.prospects.each do |community| %>
          <tr>
            <td>
              <%= link_to community.name, community %>
            </td>
            <td><%= @contact.results.where(community: community).last.result_type.name if @contact.results.where(community: community).last %></td>
          </tr>
        <% end %>
        </table>