<table class="table table-condensed ero-table">
          <tr style='font-weight: bold'>
            <td>Community</td>
            <td>Result</td>
            <td></td>
          </tr>
        
        <% @contact.prospects.each do |community| %>
          <tr>
            <td>
              <%= link_to community.name, community %>
            </td>
            <td><%= @contact.results.where(community: community).last.result_type.name if @contact.results.where(community: community).last %></td>
            <td><%= link_to 'Claim', contact_send_claim_email_path(@contact, community_id: community.id), class: 'btn btn-xs btn-primary pull-right' %></td>
          </tr>
        <% end %>
        </table>