<div class="card h-100">
  <h4 class="card-header" style="color: #0075b4;font-family: Source Sans Pro,Arial,Helvetica,sans-serif">My Interest List</h4>
  <div class="card-body">
    <p class="card-text" style="font-family: Source Sans Pro,Arial,Helvetica,sans-serif">
      <% @interest_communities.each do |community| %>
        <%= link_to "#{fa_icon "close"}".html_safe, community_search_index_path(
            remove_id: community.id,
            ),
                    {remote: true, class: "", style: "color: red" } %>
        <%= community.name %>
        <br>
      <% end %>
    </p>
    <div style="position: fixed; left: 10px; bottom: 20px">
      <%= link_to "Find out more", get_contact_community_search_index_path,
                  {remote: true, data: { toggle: "modal", target: '#modal-window' },
                   class: "btn btn-success btn-block" } %>
    </div>
  </div>
</div>