@import "bootstrap-sprockets";
@import "bootstrap";

.rotate0 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.navbar-default {
    background-color: white;
}

.info-box {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    padding: 40px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}

.bg-dark {
    background-color: #343a40!important;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.btn-circle {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 0px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.search-show {
  display: none;
}

.search-hide {

}

div.token-input-dropdown-facebook {
position: relative;
width: 400px;
background-color: #fff;
overflow: hidden;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-bottom: 1px solid #ccc;
cursor: default;
font-size: 11px;
font-family: Verdana;
z-index: 11001;
}

.ui-autocomplete {
    z-index: 5000;
}

.veteran {
  display: none;
}
.medicaid {
  display: none;
}
#salutation_male {
  display: none; 
}

#salutation_female {
  display: none;
}

.gender_female {
  display: none;
}
.gender_male {
  display: none;
}

.contact_person {
  display: none;
}

.contact_resident {
  display: none;
}

.contact_business {
  display: none;
}

.contact_family {
  display: none;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


.navbar-inverse {
  background-color: #000;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}

.active {
  background: #d5d5d5;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 130px;
    padding: 0 30px;
  }
  
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/* forms */

#error_explanation {
color: red;
ul {
color: red;
margin: 0 0 30px 0;
}
}
.field_with_errors {
@extend .has-error;
.form-control {
color: $state-danger-text;
}
}


@mixin box_sizing {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/* miscellaneous */
.debug_dump {
clear: both;
float: left;
width: 100%;
margin-top: 45px;
@include box_sizing;
}

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
/* universal */
html {
overflow-y: scroll;
}
body {
padding-top: 60px;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
h1 {
margin-bottom: 10px;
}
}
/* typography */
h1, h2, h3, h4, h5, h6 {
line-height: 1;
}
h1 {
font-size: 2em;
letter-spacing: -1px;
margin-bottom: 20px;
text-align: left;
}
h2 {
font-size: 1.2em;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
color: $gray-light;
}
p {
font-size: 1.1em;
line-height: 1.7em;
}
/* header */
#logo {
float: left;
margin-right: 10px;
font-size: 1.7em;
color: white;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 9px;
font-weight: bold;
&:hover {
color: white;
text-decoration: none;
}
}

/* footer */
footer {
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid $gray-medium-light;
color: $gray-light;
a {
color: $gray;
&:hover {
color: $gray-darker;
}
}
small {
float: left;
}
ul {
float: right;
list-style: none;
li {
float: left;
margin-left: 15px;
}
}
}

/* header */
#logo-image {
  height: 40px;
  padding-bottom: 5px;
}

#logo {
float: left;
margin-right: 10px;
font-size: 1.7em;
color: #fff;
text-transform: uppercase;
letter-spacing: -1px;
padding-top: 9px;
font-weight: bold;
}
#logo:hover {
color: #fff;
text-decoration: none;
}

 
/* Large Devices, Wide Screens */
  @media only screen and (max-width : 1200px) {
    
  }
 /* Medium Devices, Desktops */
  @media only screen and (max-width : 992px) {
    .ero-table {
      font-size: 9px;
    }
    .bar-note {
      margin-top: 4px;
      font-size: 8px;
    }
     
  }
  /* Small Devices, Tablets */
  @media only screen and (max-width : 768px) {
    
  }
  /* Extra Small Devices, Phones */ 
  @media only screen and (max-width : 480px) {
    h1 {
      font-size: 24px;
    }
  }
  /* Custom, iPhone Retina */ 
  @media only screen and (max-width : 320px) {
      
  }