@import "bootstrap-sprockets";
@import "bootstrap";
/*
    DEMO STYLE
*/

.numberCircle {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  width: 48px;
  height: 48px;
  padding: 8px;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font: 28px Arial, sans-serif;
}

.select2-container--bootstrap .select2-selection {
  font-size: 16px;
}

.community-address {
  font-style: italic;
  font-size: 14px;
  text-align: right;
}

.main-input-box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
  border-color: #7ccdcc;
  height: 3.000rem;
  font-size: 20px;
  border: 1px solid #c5d0d5;
  border-radius: 0.125rem 0 0 0.125rem;
  border-right: 0;
  width: 300px;
  color: #8f9ca4;
  border: 1px solid #c5d0d5;
  border-radius: 2px;
}

.ui-autocomplete {
  z-index: 5000;
}

.veteran {
  display: none;
}
.medicaid {
  display: none;
}
#salutation_male {
  display: none;
}

#salutation_female {
  display: none;
}

.gender_female {
  display: none;
}
.gender_male {
  display: none;
}

.contact_person {
  display: none;
}

.contact_resident {
  display: none;
}

.contact_business {
  display: none;
}

.contact_family {
  display: none;
}

.old-picture {
  border: 5px solid white;
  -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
  box-shadow:5px 5px 5px rgba(0,0,0,0.3);
}

.old-picture-noborder {
  border-left: 5px solid #d1d1d1;
  -moz-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow:5px 5px 5px rgba(0,0,0,0.3);
  box-shadow:5px 5px 5px rgba(0,0,0,0.3);
}

.hand-writing {
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.hand-writing-mobile {
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: black;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

blockquote {
  border: none;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}

.parallax {
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.rounded {
  border-radius: .50rem!important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: .25rem;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border: 1px solid rgba(0,0,0,.125);
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  border: 1px solid rgba(0,0,0,.125);
  border-top: none;
}

.info-box {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  padding: 40px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.bg {
  background: url('http://cdn.sotercares.com/images/home-2880x1920-med.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  /* Set up positioning */
  z-index: -1;
}

.asc {
  background-image: url(https://cdn.fcbank.co/images/up-arrow.png);
}

.desc {
  background-image: url(https://cdn.fcbank.co/images/down-arrow.png);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  -webkit-transition: opacity 200ms cubic-bezier(.45,.05,.55,.95);
  transition: opacity 200ms cubic-bezier(.45,.05,.55,.95);
}
.modal-dialog{
  margin-top: 10%;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #dad55e;
  background: #fffa90;
  color: #777620;
}

.ui-droppable-active {
  border: 1px solid #003eff;
  background: #007fff;
  color: #ffffff;
}

.ui-autocomplete {
  z-index: 5000 ;
}

.menu_links {
  cursor: pointer;
}

mark, .mark {
  color: red;
  background-color: white;
  font-weight: bold;
  font-style: italic;
}

.badge-error {
  background: darkred !important;
  color: white !important;
}

.badge-info {
  background: blue;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #09152f;
  color: white;
  text-align: center;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.navbar-nav > li {
  line-height: 50px;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: #09152f;
  color: #09152f;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar a {
  color: white;
  text-decoration: none;
}
#sidebar.active {
  left: 0;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #0e2765;
  background: white;
  border: 1px solid #0e2765;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}
#dismiss:hover {
  background: darkred;
  color: white;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: white;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #09152f;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: darkred;
}

#sidebar ul li.looking > a, a[aria-expanded="true"] {
  color: white;
  background: #145aff;
}

#sidebar ul li.looking > a {
  color: #09152f;
  background: darkgoldenrod;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
a[aria-expanded="true"]::before {
  content: '\e260';
}

#set_company ul a {
  color: black;
}

#sidebar ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #0e2765;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download {
  background: #fff;
  color: #7386D5;
}
a.article, a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
